
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ClassTypeShow</title>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui/layui.js"></script>
    <script>
        layui.use(['table', 'layer', 'form'], function () {
            fun();
        });
        function fun() {
            var $ = layui.$;
            $.ajax({
                url: '@ViewBag.ClassTypeShow/api/SubjectsSelectAll',
                type: 'get',
                dataType: 'json',
                contentType: "application/json",
                success: function (d) {
                    $("#Select1").empty();
                    $("#Select1").append('<option value="0">适用学科</option>');
                    $(d).each(function () {
                        var st = "<option value=" + this.SubjectsId + ">" + this.SubjectsName + "</option>";
                        $("#Select1").append(st);
                    })
                    layui.form.render("select");
                }
            })
        }
    </script>
</head>
<body>
    <h1 style="margin-left:500px">课时类型管理</h1>
    <table style="margin-left:3px;margin-top:20px">
        <tr>
            <td>
                <div style="margin-left:-110px;margin-top:-15px">
                    <div class="layui-input-block">
                        <input id="PriceReigth" type="text" value="" name="PriceReigth" required lay-verify="required" placeholder="课时名称" class="layui-input">
                    </div>
                </div>
            </td>
            <td>
                <div style="margin-left:10px">
                    <form class="layui-form" style="width:30%" action="" lay-filter="example">
                        <div class="layui-form-item">
                            <div class="layui-input-inline">
                                <select id="Select1" name="HourType">
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </td>
            <td>
                <div style="margin-left:-110px;margin-top:-15px">
                    <div class="layui-input-block">
                        <input id="Price" type="text" value="" name="Price" required lay-verify="required" placeholder="课时比例" class="layui-input">
                    </div>
                </div>
            </td>
            <td>
                <div style="margin-left:30px;margin-top:-16px">
                    <button type="button" id="ss" class="layui-btn">查询</button>
                </div>
            </td>
            <td>
                <button id="re" type="button" style="width:120px;margin-left:20px;margin-top:-16px" class="layui-btn layui-bg-green">添加</button>
            </td>
        </tr>
    </table>
    
    <table class="layui-hide" id="test" lay-filter="test"></table>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
    <script type="text/html" id="switchTpl">
        <!-- 这里的 checked 的状态只是演示 -->
        <input type="checkbox"  value="{{d.SHId}}" lay-skin="switch" lay-text="已启用|已禁用" lay-filter="sexDemo" {{ d.SHState == 0 ? 'checked' : '' }}>
    </script>
    <script>
        layui.use(['table', 'layer', 'upload'], function () {
            var table = layui.table
                , upload = layui.upload;
            var $ = layui.jquery, layer = layui.layer
                , form = layui.form;
            table.render({
                elem: '#test'
                , url: '@ViewBag.ClassTypeShow/api/ClassTypeShow'
                , cols: [[
                    { field: 'SHId', width: 80, hight: 150, title: 'ID', sort: true }
                    , { field: 'HourTypeName', width: 200, title: '课时类别名称' }
                    , { field: 'Sort', width: 200, title: '排序'}
                    , { field: 'SubjectsName', width: 200, title: '适用学科', sort: true }
                    , { field: 'Proportion', width: 200, title: '比例', sort: true }
                    , { field: 'SHState', title: '状态', width: 200, templet: '#switchTpl', unresize: true }
                    , { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150 }
                ]]
                , page: true
                , id:'testReload'
            });
            //监听性别操作
            form.on('switch(sexDemo)', function (obj) {
                layer.tips(this.value + ' ' + this.name + '：' + obj.elem.checked, obj.othis);
                var val;
                if (obj.elem.checked) {
                    val = 0;
                }
                else {
                    val = 1;
                }
                $.ajax({
                    url: "@ViewBag.ClassTypeShow/api/ClassTypeZtai?ztai=" + val + "&id=" + this.value,
                    type: "post",
                    contentType: "application/json",
                })
            });
            $("#ss").on('click', function () {
                //执行重载
                table.reload('testReload', {
                    where: {
                        name:$("#PriceReigth").val(),
                        xk:$("#Select1").val(),
                        bl:$("#Price").val(),
                    }

                });
                return false;
            })
            $("#re").on('click', function () {
                layer.open({
                    title: '添加'
                    , type: 2
                    , area: ['1000px', '500px']
                    , content: ['/EssentialData/ClassTypeAdd']
                    , btn: '关闭全部'
                    , btnAlign: 'c' //按钮居中
                    , shade: 0 //不显示遮罩
                    , offset: 'auto'
                    , anim: 4
                });
            })
            //监听行工具事件
            table.on('tool(test)', function (obj) {
                var data = obj.data;
                //console.log(obj)
                if (obj.event === 'del') {
                    layer.confirm('真的删除行么', function (index) {
                        $.ajax({
                            url: '@ViewBag.ClassTypeShow/api/ClassTypeDelt?id=' + data.SHId,
                            type: 'post',
                            dataType: 'json',
                            contentType: "application/json",
                            success: function (d) {
                                if (d>0) {
                                    layer.msg("删除成功！", { icon: 0, time: 1500 });
                                    //执行重载
                                    table.reload('testReload', {
                                    });
                                }
                                else {
                                    layer.msg("删除失败！", { icon: 0, time: 1500 });
                                }
                            }
                        })
                    });
                } else if (obj.event === 'edit') {
                    layer.open({
                        title: '修改'
                        , type: 2
                        , area: ['1000px', '500px']
                        , content: '/EssentialData/ClassTypeUpt?id=' + data.SHId
                        , btn: '关闭全部'
                        , btnAlign: 'c' //按钮居中
                        , shade: 0 //不显示遮罩
                        , offset: 'auto'
                        , anim: 5
                    });
                }
            });
        });
    </script>
</body>
</html>
