
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SourceAdd</title>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui/layui.js"></script>
</head>
<body>
    <form class="layui-form" style="width:65%" action="">
        <div style="margin-left:300px;margin-top:50px">
            <div class="layui-form-item">
                <label class="layui-form-label">来源名称</label>
                <div class="layui-input-block">
                    <input id="SourceName" type="text" name="SourceName"  required placeholder="请输入名称" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">排序</label>
                <div class="layui-input-block">
                    <input id="Sort" type="text" name="Sort"  lay-verify="required" class="layui-input">
                </div>
            </div>
            <div style="margin-left:110px">
                <button type="submit" id="ss" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
            </div>
        </div>
    </form>
    <script>
        layui.use(['form'], function () {
            var form = layui.form;
            var $ = layui.$;
            //监听提
            $("#ss").on('click', function () {
                $.ajax({
                    url: '@ViewBag.SourceAdd/api/SourceShowName?name='+$("#SourceName").val(),
                    type: 'get',
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (d) {
                        if (d!="") {
                            alert('名称已存在！');
                            return false;
                        }
                        else {
                            if ($("#SourceName").val()=="") {
                                alert("名称不能为空");
                                return false;
                            }
                            if ($("#Sort").val()=="") {
                                alert("排序不能为空");
                                return false;
                            }
                            var gg = {};
                            gg.SourceName = $("#SourceName").val();
                            gg.Sort = Number($("#Sort").val());
                            gg.Ztai = Number(0);
                            $.ajax({
                                url: '@ViewBag.SourceAdd/api/SourceAdd',
                                type: 'post',
                                contentType: "application/json",
                                dataType: 'json',
                                data: JSON.stringify(gg),
                                success: function (dd) {
                                    if (dd > 0) {
                                        alert('添加成功');
                                        var index = parent.layer.getFrameIndex(window.name);
                                        parent.layer.close(index);//关闭当前页
                                        window.parent.location.reload();
                                    }
                                    else {
                                        alert('添加失败');
                                    }
                                }
                            })
                        }
                    }
                })
                
                return false;
            })
        });
    </script>
</body>
</html>

