
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TeacherLevelShow</title>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui/layui.js"></script>
</head>
<body>
    <h1 style="margin-left:500px">教师水平级别管理</h1>
    <button id="re" type="button" style="width:120px;margin-left:5px" class="layui-btn layui-btn-radius">添加</button>
    <table class="layui-hide" id="test" lay-filter="test"></table>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    </script>
    <script type="text/html" id="switchTpl">
        <!-- 这里的 checked 的状态只是演示 -->
        <input type="checkbox" name="Ztai" value="{{d.LevelId}}" lay-skin="switch" lay-text="已启用|已禁用" lay-filter="sexDemo" {{ d.Ztai == 0 ? 'checked' : '' }}>
    </script>
    <script>
        layui.use(['table','layer','upload'], function () {
            var table = layui.table
                ,upload = layui.upload;
            var $ = layui.jquery, layer = layui.layer
                , form = layui.form;
            table.render({
                elem: '#test'
                , url: '@ViewBag.TeacherLevelShow/api/TeacherLevelShow'
                , contentType: "application/json"
                , cols: [[
                    { field: 'LevelId', width: 80, hight: 150, title: 'ID', sort: true }
                    , { field: 'LeveName', width: 300, title: '级别名称' }
                    , { field: 'Sort', width: 300, title: '排序', sort: true }
                    , { field: 'Ztai', title: '状态', width: 300, templet: '#switchTpl', unresize: true }
                    , { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150 }
                ]]
                , page: true
            });
            //监听性别操作
            form.on('switch(sexDemo)', function (obj) {
                layer.tips(this.value + ' ' + this.name + '：' + obj.elem.checked, obj.othis);
                var val;
                if (obj.elem.checked) {
                    val = 0;
                }
                else {
                    val = 1;
                }
                $.ajax({
                    url: "@ViewBag.TeacherLevelShow/api/TeacherLevelZtai?ztai=" + val +"&id="+this.value,
                    type: "post",
                    contentType: "application/json",
                })
            });
            $("#re").on('click', function () {
                layer.open({
                    title: '添加'
                    , type: 2
                    , area: ['1000px','500px']
                    , content: ['/EssentialData/TeacherLevelAdd']
                    , btn: '关闭全部'
                    , btnAlign: 'c' //按钮居中
                    , shade: 0 //不显示遮罩
                    , offset: 'auto'
                    , anim: 4
                });
            })
            //监听行工具事件
            table.on('tool(test)', function (obj) {
                var data = obj.data;
                //console.log(obj)
                if (obj.event === 'del') {
                    layer.confirm('真的删除行么', function (index) {
                        obj.del();
                        layer.close(index);
                    });
                } else if (obj.event === 'edit') {
                    layer.open({
                        title: '修改'
                        , type: 2
                        , area: ['1000px','500px']
                        , content: '/EssentialData/TeacherLevelUpt?id=' + data.LevelId
                        , btn: '关闭全部'
                        , btnAlign: 'c' //按钮居中
                        , shade: 0 //不显示遮罩
                        , offset: 'auto'
                        , anim: 3
                    });
                }
            });
        });
    </script>
</body>
</html>
