<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui/layui.js"></script>
    <title>@ViewBag.Title</title>

</head>
<body>


    <div style="float:right">
        @RenderBody()
    </div>
</body>
</html>
