
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/layui-v2.5.7/layui/layui.js"></script>
    <link href="~/layui-v2.5.7/layui/css/layui.css" rel="stylesheet" />
    <title>TeacherAddPic</title>
</head>
<body>
    <form class="layui-form" action="" lay-filter="example" , enctype="multipart/form-data">
        <div class="layui-upload">
            <label class="layui-form-label">身份证(正面):</label>
            <button type="button" class="layui-btn" id="test1">上传图片</button>
            <div class="layui-upload-list">
                <img class="layui-upload-img" style="height:50px;width:50px" id="IDnumberPic">
                <input type="hidden" name="IDnumberPic" id="IDnumberPic" class="layui-input">
            </div>
        </div>
        <div class="layui-upload">
            <label class="layui-form-label">学历证书</label>
            <button type="button" class="layui-btn" id="test2">上传图片</button>
            <div class="layui-upload-list">
                <img class="layui-upload-img" style="height:50px;width:50px" id="EducationPic">
                <input type="hidden" name="EducationPic" id="EducationPic" class="layui-input">
            </div>
        </div>
        <div class="layui-upload">
            <label class="layui-form-label">教师身份证明</label>
            <button type="button" class="layui-btn" id="test3">上传图片</button>
            <div class="layui-upload-list">
                <img class="layui-upload-img" style="height:50px;width:50px" id="IdentificationPic">
                <input type="hidden" name="IdentificationPic" id="IdentificationPic" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">教师名称:</label>
            <div class="layui-input-inline">
                <select id="Teacher" name="Teacher" class="layui-select-group">
                    <option value="">请选择</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn" id="btn">下一步</button>
            </div>
        </div>
    </form>
</body>
</html>
<script>
    //绑定
    layui.use(['form', 'layer', 'table'], function () {
        GetApproveMods();
    });
    //绑定
    function GetApproveMods() {
        var $ = layui.$;
        $.ajax({
            url: '@ViewBag.Str/api/GetApproveMods',
            type: "get",
            async: false,
            dataType: 'json',
            success: function (data) {
                $(data).each(function () {
                    var str = '<option value="' + this.teacher + '">' + this.teacherName + "</option>";
                    $("#Teacher").append(str);
                });
                layui.form.render("select");
            }
        });
    }
</script>
<script>
    layui.use(['form', 'upload', 'layer', 'table'], function () {
        var form = layui.form
            , layer = layui.layer
            , upload = layui.upload;
        var $ = layui.$;
        //普通图片上传
        var uploadInst = upload.render({
            elem: '#test1'
            , url: '/TeacherM/AddPic' //改成您自己的上传接口

            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#IDnumberPic').attr('src', result); //图片链接（base64）
                });
            }
            , done: function (res) {
                //如果上传失败
                if (res.code > 0) {
                    return layer.msg('上传失败');
                }
                else {
                    $('#IDnumberPic').val(res.Result);
                }
                //上传成功
            }
            , error: function () {
                //演示失败状态，并实现重传
            }
        });
        //普通图片上传
        var uploadInst = upload.render({
            elem: '#test2'
            , url: '/TeacherM/AddPic' //改成您自己的上传接口
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#EducationPic').attr('src', result); //图片链接（base64）
                });
            }
            , done: function (res) {
                //如果上传失败
                if (res.code > 0) {
                    return layer.msg('上传失败');
                }
                else {
                    $('#EducationPic').val(res.Result);
                }
                //上传成功
            }
            , error: function () {
                //演示失败状态，并实现重传
            }
        });
        //普通图片上传
        var uploadInst = upload.render({
            elem: '#test3'
            , url: '/TeacherM/AddPic' //改成您自己的上传接口
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#IdentificationPic').attr('src', result); //图片链接（base64）
                });
            }
            , done: function (res) {
                //如果上传失败
                if (res.code > 0) {
                    return layer.msg('上传失败');
                }
                else {
                    $('#IdentificationPic').val(res.Result);
                }
                //上传成功
            }
            , error: function () {
                //演示失败状态，并实现重传
            }
        });
        var $ = layui.$;
        //监听提交
        $('#btn').on('click', function () {
            var obj = {};
            obj.iDnumberPic = $("#IDnumberPic").val();
            obj.educationPic = $("#EducationPic").val();
            obj.identificationPic = $("#IdentificationPic").val();
            obj.teacher = Number($("#Teacher").val());
            //console.log(obj);
            $.ajax({
                url: "@ViewBag.Str/api/AddApproveMod",
                type: "post",
                contentType: 'application/json',
                data: JSON.stringify(obj),
                success:
                    function (d) {
                        if (d > 0) {
                            alert("添加成功");
                            location.href = '/TeacherM/TeacherShow';
                        }
                        else {
                            layer.alert("添加失败");
                        }
                    }
            });
        });
    });

</script>