
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui/layui.js"></script>
    <title>教师管理显示</title>
</head>
<body>
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">机构名称</label>
            <div class="layui-input-inline">
                <select id="jigou" name="jigou" class="layui-select-group">
                    <option value="0">请选择</option>
                </select>
            </div>
            <label class="layui-form-label">学科</label>
            <div class="layui-input-inline">
                <select id="sub" name="sub" class="layui-select-group">
                    <option value="0">请选择</option>
                    <option value="1">语文</option>
                    <option value="2">数学</option>
                    <option value="3">英语</option>
                    <option value="4">地理</option>
                    <option value="5">化学</option>
                    <option value="6">物理</option>
                </select>
            </div>
            <label class="layui-form-label">版本</label>
            <div class="layui-input-inline">
                <select id="bookid" name="bookid" class="layui-select-group">
                    <option value="0">请选择</option>
                </select>
            </div>
            
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">教师名称：</label>
            <div class="layui-input-inline">
                <input type="text" style="margin-left:00px;margin-top:0px" name="teaname" id="teaname" lay-verify="title" autocomplete="off" placeholder="请输入班级名称" class="layui-input">
            </div>
            <label class="layui-form-label">手机号：</label>
            <div class="layui-input-inline">
                <input type="text" style="margin-left:00px;margin-top:0px" name="phone" id="phone" lay-verify="title" autocomplete="off" placeholder="请输入班级名称" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item"> 
            <div class="layui-input-block">
                <button class="layui-btn" data-type="reload" id="Sel">搜索</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                <button type="button" class="layui-btn layui-btn-radius" onclick="location.href='/TeacherM/TeacherAdd'" id="Button1">添加教师</button>
                <button type="button" class="layui-btn layui-btn-radius" onclick="location.href='/TeacherM/TeachModAdd'" id="Button1">添加教学</button>
                <button type="button" class="layui-btn layui-btn-radius" onclick="location.href='/TeacherM/GetTeacher'" id="Button1">教师信息显示</button>
            </div>
        </div>
    </form>
    <div class="layui-m-anim-right">
        <table class="layui-hide" id="demo" lay-filter="demo"></table>
    </div>
    <script type="text/html" id="lineBtns">
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="upt">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
    <script type="text/html" id="switchTpl">
        <!-- 这里的 checked 的状态只是演示 -->
        <input type="checkbox" name="TeacherState" value="{{d.TeachId}}" lay-skin="switch" lay-text="已启用|已禁用" lay-filter="sexDemo" {{ d.TeacherState == 0 ? 'checked' : '' }}>
    </script>
</body>
</html>
<script>
    layui.use(['form', 'util', 'upload', 'layer', 'table'], function () {
        var table = layui.table,
            upload = layui.upload,//使用LayUI上传组件
            excel = layui.excel,
            form = layui.form,
            util = layui.util;
        //第一个实例
        table.render({
            elem: '#demo'
            , height: 312
            , url: 'http://localhost:50111/api/GetTeaches' //数据接口
            , cols: [[ //表头
                { field: 'TeachId', title: '序号',  sort: true, fixed: 'left' }
                , { field: 'OrganName', title: '机构'}
                , { field: 'TeacherName', title: '姓名' }
                , { field: 'TeacherPhone', title: '手机号' }
                , { field: 'TeacherLink', title: '学段/学科版本' }
                , { field: 'OrganName', title: '可授机构' }
                , {
                    field: 'TeacherRank', title: '教师级别', templet: function (d) {
                        if (d.TeacherRank == 1) {
                            return "普通"
                        }
                        else if (d.TeacherRank == 2){
                            return "名师"
                        }
                        else if (d.TeacherRank == 3) {
                            return "精品"
                        }
                        else if (d.TeacherRank == 4) {
                            return "VIP"
                        }
                    }
                }
                , { field: 'TeacherShowKe', title: '可授课时' }
                , { field: 'TeacherTime', title: '注册时间', templet: "<div>{{layui.util.toDateString(d.TeacherTime, 'yyyy-MM-dd')}}</div>" }
                , { field: 'TeacherState', title: '用户状态', width: 150, templet: '#switchTpl' }              
                , { fixed: 'right', title: '操作', toolbar: '#lineBtns' }
            ]]
            , page: true
                , limits: [1, 2, 3, 10]//每页条数可选项
                , limit: 1 //每页条数
                , request: {
                    pageName: 'pageIndex',//控制器 显示方法 当前页数参数
                    limitName: 'pageSize' //控制器 显示方法 每页条数参数
                }
            , id: 'testReload'
        });
        var $ = layui.jquery; 
        Nian();
        GetSubjects();
        GetBooks();
        $("#Sel").on('click', function () {
            table.reload('testReload', {
                page: {
                    curr: 1 //重新从第 1 页开始
                }
                , where: {
                    jigou:$("#jigou").val(),                    
                    sub:$("#sub").val(),
                    bookid:$("#bookid").val(),
                    teaname: $("#teaname").val(),
                    phone:$("#phone").val(),                   
                }
            });
            return false;
        })
        var $ = layui.jquery;
         //机构下拉
        function Nian() {
            var form = layui.form;
            $.ajax({
                url: "http://localhost:50111/api/GetOrganMod",
                type: "get",
                contentType: "application/json",
                success: function (data) {
                    var str = "";
                    $(data).each(function () {
                        str += "<option value='" + this.organId + "'>" + this.organName + "</option>";
                    })
                    $("#jigou").append(str);
                    form.render("select");
                }
            })
        }
        var $ = layui.jquery;
        //绑定学科
        function GetSubjects() {
            var $ = layui.$;
            $.ajax({
                url: 'http://localhost:50111/api/GetSubjects',
                type: "get",
                async: false,
                dataType: 'json',
                success: function (data) {
                    $(data).each(function () {
                        var str = '<option value="' + this.subjectsId + '">' + this.subjectsName + "</option>";
                        $("#sub").append(str);
                    });
                    layui.form.render("select");
                }
            });
        }
        var $ = layui.jquery;
        //绑定版本
        function GetBooks() {
            var $ = layui.$;
            $.ajax({
                url: 'http://localhost:50111/api/GetTextbookMod',
                type: "get",
                async: false,
                dataType: 'json',
                success: function (data) {
                    $(data).each(function () {
                        var str = '<option value="' + this.textbookId + '">' + this.textbookName + "</option>";
                        $("#bookid").append(str);
                    });
                    layui.form.render("select");
                }
            });
        }
        //监听性别操作
        form.on('switch(sexDemo)', function (obj) {
            layer.tips(this.value + ' ' + this.name + '：' + obj.elem.checked, obj.othis);
            var val;
            if (obj.elem.checked) {
                val = 0;
            }
            else {
                val = 1;
            }
            $.ajax({
                url: "http://localhost:50111/api/ModifyTeacherState?status=" + val + "&teaid=" + this.value,
                type: "post",
                contentType: "application/json",
            })
        });
        var $ = layui.jquery;
        table.on('tool(demo)', function (obj) {
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            if (layEvent == 'del') { //删除
                layer.confirm('确定删除吗？', { title: '删除' }, function (index) {
                    //向服务端发送删除指令og
                    $.ajax({
                        url: "http://localhost:50111/api/DeleteTeachMod?ids=" + data.TeachId,
                        type: "get",
                        success: function (d) {
                            if (d > 0) {
                                layer.msg('删除成功', { icon: 1, time: 1500 }, function () {
                                    layer.close(index);//关闭弹窗
                                    table.reload('testReload', {//重载表格
                                    });

                                });
                            }
                            else {
                                layer.msg('删除失败', { icon: 1, time: 1500 }, function () {
                                    layer.close(index);//关闭弹窗
                                });
                            }
                        }
                    });
                    layer.close(index);//关闭弹窗
                });
            }
            else if (layEvent == 'upt') {
                location.href = "/TeacherM/ModifyTeachMod?id=" + data.TeachId;
            }
        });
    });
</script>