
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui/layui.js"></script>
    <link rel="stylesheet" href="//res.layui.com/layui/dist/css/layui.css" media="all">
    <link href="~/statics/css/style.css" rel="stylesheet" />
    <script src="~/statics/js/jquery-1.11.0.js"></script>
    <link href="~/css/jq22.css" rel="stylesheet" />
    <script src="~/js/init.js"></script>
    <script src="~/js/easing.js"></script>
    <title>首页</title>
    <style type="text/css">
        #divcss5 {
            margin: 0 auto;
            border: 0 solid #000;
        }

        #productNumber {
            height: 200px;
            background-color: aquamarine;
        }

        #ul {
            padding-top: 55px;
        }

        li {
            color: black;
        }

        b {
            color: black;
        }

        p {
            color: black;
        }

        #test {
            margin: 0 auto;
        }

        #dvd {
            padding-left: 100px
        }
    </style>



</head>
<body>
    <div class="product-number-info" id="productNumber">
        <div class="product-number-inner" id="wocao">
            <input type="hidden" id="OrderNum" />
            <input type="hidden" id="OrderLimit" />
            <input type="hidden" id="RefundNum" />
            <input type="hidden" id="RefundLimit" />
            <ul class="q" id="ul">
                <li class="li-1">
                    <b><i id="productNumber_1" data-sum="1760090">0</i><sup>+</sup></b>
                    <p>收入金额</p>
                </li>
                <li class="li-2">
                    <b><i id="productNumber_2" data-sum="3687">0</i><em>人</em></b>
                    <p>下单人数</p>
                </li>
                <li class="li-4">
                    <b><i id="productNumber_4" data-sum="2000">0</i><em>次</em></b>
                    <p>退单次数</p>
                </li>
                <li class="li-5">
                    <b><i id="productNumber_5" data-sum="">0</i><sup>+</sup></b>
                    <p>退款金额</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="layui-carousel " id="divcss5">
        <div carousel-item="">
            <div>
                <img src="~/layui/images/face/7.jpg" style="width:100%; height:400px" />
            </div>
            <div>
                <img src="~/layui/images/face/2.png" style="width:100%; height:400px" />
            </div>
            <div>
                <img src="~/layui/images/face/3.jpg" style="width:100%; height:400px" />
            </div>
            <div>
                <img src="~/layui/images/face/1.png" style="width:100%; height:400px" />
            </div>
            <div>
                <img src="~/layui/images/face/5.jpg" style="width:100%; height:400px" />
            </div>
        </div>
    </div>
    <div>
        <fieldset class="layui-elem-field" style="height:150px">
            <legend>快速导航</legend>
            <div class="layui-field-box" id="KSDH">
                <div class="layui-btn-group">
                    <button type="button" id="Tian" class="layui-btn layui-btn-primary layui-btn-sm"><i class="layui-icon"></i></button>
                    <button type="button" id="Shan" class="layui-btn layui-btn-primary layui-btn-sm"><i class="layui-icon"></i></button>
                </div>
            </div>

        </fieldset>
    </div>

    <script>

        layui.use(['carousel', 'form', 'table'], function () {
            var carousel = layui.carousel
                , form = layui.form
                , table = layui.table;

            var $ = layui.$;
            //弹出层
            $("#Shan").on('click', function () {
                layer.open({
                    anim: 1,
                    type: 2,
                    Boolean: false,
                    area: ['720px', '520px'],
                    content: ["/AuthorityM/Shan", "no"],

                });
            })

            //弹出层
            $("#Tian").on('click', function () {
                layer.open({
                    anim: 1,
                    type: 2,
                    Boolean: false,
                    area: ['720px', '520px'],
                    content: ["/AuthorityM/DH", "no"],

                });
               
            })
            
        });
    </script>
    <script>

        layui.use(['carousel', 'form', 'table'], function () {
            var carousel = layui.carousel
                , form = layui.form
                , table = layui.table;

            var $ = layui.$;

         
            //图片轮播
            carousel.render({
                elem: '#divcss5'
                , width: '70%'
                , height: '400px'
                , interval: 5000
            });
        });

    </script>
    <script src="~/statics/js/count.js"></script>
    <script type="text/javascript">

        $.ajax({
            url: "@ViewBag.Str/AuthorityM/QuickNavigation?QuickIName=" + 147258369,
            type: "get",
            contentType: "application/json",
            async: false,
            success: function (res) {
                var sql = "";
                sql += '<div id="wrapper" style="margin-top:15px">';
                sql += '<div id="menu">';
                sql += '<ul>';
                var p = res.filter(function (e) {
                    return (e.pId != 0)
                });
                $(p).each(function () {
                    sql += '<li> <a style="width:150px"  href="' + this.href + '">' + this.title + '</a> </li>';
                });
                sql += '</ul>';
                sql += '</div>';
                sql += '</div>';
                $("#KSDH").append(sql);
            }
        });
        Refunds();
        Order();
        //获取订单数据
        function Order() {
            var Ordersnum = 0;   //订单数
            var Orderslimit = 0;  //订单总金额
            var a;
            var b;
            $.ajax({
                url: "@ViewBag.Str/api/GetOrder",
                contentType: "application/json",
                type: "get",
                dataType: "json",
                async: false,
                success: function (data) {
                    if (data != null) {
                        $(data).each(function () {
                            Orderslimit += this.AmountPayable;
                            Ordersnum++
                        });
                        a = Number(Orderslimit);
                        b = Number(Ordersnum);
                    }
                    else {
                        return;
                    }
                }
            });
            $("#productNumber_1").attr("data-sum", a);
            $("#productNumber_2").attr("data-sum", b);
            return false;
        }
        //获取退款数据
        function Refunds() {
            var Refundnum = 0;   //退单数
            var Refundlimit = 0;  //退款总金额
            var c;
            var d;
            $.ajax({
                url: "@ViewBag.Str/api/GetRefunds",
                contentType: "application/json",
                type: "get",
                async: false,
                dataType: 'json',
                success: function (data) {
                    if (data != null) {
                        $(data).each(function () {
                            Refundlimit += this.RefundAmount;
                            Refundnum++
                        });
                        c = Refundnum;
                        d = Refundlimit;
                    }
                    else {
                        return;
                    }
                }
            });
            $("#productNumber_4").attr("data-sum", c);
            $("#productNumber_5").attr("data-sum", d);
            return false;
        }

        productNumber = function () {
            var arr = [];
            $('#productNumber li').each(function (i, dom) {
                var iDom = $(dom).find('i'),
                    decimals = 0,
                    sum = iDom.data('sum');
                //初始化传参，参数为上面注释中的参数
                arr.push(new CountUp(iDom.attr('id'), 0, sum, decimals, 4, {
                    useEasing: true,//效果
                    separator: ''//数字分隔符
                }));
                arr[i].start();
            });
        }();



    </script>
    <script>
        layui.use(['carousel', 'form', 'table'], function () {
            var carousel = layui.carousel
                , form = layui.form
                , table = layui.table;

            var $ = layui.$;

            //课时小于15的 学生信息
            table.render({
                elem: '#test'
                , url: '@ViewBag.Str/api/GetStudentOrde'
                , cols: [[
                    { field: 'StudentName', width: 100, title: '学生姓名' }
                    , { field: 'StudentIphone', width: 120, title: '学生账号' }
                    , {
                        field: 'StudentSex', width: 80, title: '性别',
                        templet: function (data) {
                            if (data.StudentSex == true) {
                                return "男";
                            } else if (data.StudentSex == false) {
                                return "女";
                            }
                        }
                    }
                    , { field: 'OrganName', width: 100, title: '所属机构' }
                    , { field: 'AuditionClass', width: 100, title: '课程名称' }
                    , { field: 'PeriodNum', width: 100, title: '课时数' }
                ]]
                , height: 80
            });
            //图片轮播
            carousel.render({
                elem: '#divcss5'
                , width: '70%'
                , height: '400px'
                , interval: 5000
            });

            Order();




    </script>
</body>
</html>
