
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <title>登录界面</title>
    <link href="~/css/default.css" rel="stylesheet" />
    <!--必要样式-->
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/css/demo.css" rel="stylesheet" />
    <link href="~/css/loaders.css" rel="stylesheet" />
   
</head>
<body>
    <div class='login'>
        <div class='login_title'>
            <span>管理员登录</span>
            <div style="float:right;width:100px" id="QieHuan">
                <span style="color:floralwhite;float:right">⇆密码验证</span>
            </div>
        </div>
        <div class='login_fields'>
            <div class='login_fields__user'>
                <div class='icon'>
                    <img alt="" src='img/user_icon_copy.png' />
                </div>
                <input name="login" placeholder='用手机号/账号' maxlength="16" id="YH" type='text' autocomplete="off" value="@ViewBag.Phone" />
                <div class='validation'>
                    @*<img alt="" src='img/tick.png' />*@
                </div>
            </div>
            <div class='login_fields__password' id="KKK" hidden="hidden">
                <div class='icon'>
                    <img alt="" src='img/lock_icon_copy.png' />
                </div>
                <input name="pwd" placeholder='密码' value="@ViewBag.Pwd" id="ConsumerPwd" maxlength="16" type='password' autocomplete="off" />
                <div class='validation'>
                    @*<img alt="" src='img/tick.png' />*@
                </div>
            </div>
            <div class='login_fields__password' id="OOOOO" hidden="hidden">
                <div class='icon'>
                    <img alt="" src='img/key.png'>
                </div>
                <input  name="code" id="gewgergregre" placeholder='验证码' maxlength="4" type='text'  autocomplete="off">
                <div class='validation' style="opacity: 1; right: -5px;top: -3px;">
                    <canvas class="J_codeimg" id="myCanvas" onclick="Code();">对不起，您的浏览器不支持canvas，请下载最新版浏览器!</canvas>
                </div>
            </div>
            <div class='login_fields__password' id="feachBtn">
                <div class='icon'>
                    <img alt="" src='img/key.png' />
                </div>
                <input name="code" placeholder='验证码' maxlength="4" id="yanzheng" type='text' autocomplete="off" />
                <div class='login_fields__submit' id="YANZEBBBBB">
                    <input type="button" class="feachBtn" id="tyuioighjk" value="获取手机验证码">
                </div>
            </div>
            <br />
            <div class='login_fields__submit'>
                <input type='button' id="Denglu" value='登录' />&nbsp;&nbsp;&nbsp;&nbsp;
                <div hidden id="MiMAAAA" style="float:right">
                    <input id="Checkbox11" value="true" type="checkbox" /> <span class='login_title'>记住密码</span>
                </div>

            </div>
        </div>
        <div class='success'>
        </div>
        <div class='disclaimer'  id="add">
            <span>忘记密码?快来找回密码吧!!!!!!!!!!!</span>
        </div>
        <div hidden id="DIV"> </div>
    </div>
    <div class='authent'>
        <div class="loader" style="height: 44px;width: 44px;margin-left: 28px;">
            <div class="loader-inner ball-clip-rotate-multiple">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <p>认证中...</p>
    </div>
    <div class="OverWindows"></div>

    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/stopExecutionOnTimeout.js"></script>
    <script src="~/layui/layui.js"></script>
    <script src="~/js/Particleground.js"></script>
    <script src="~/js/Treatment.js"></script>
    <script src="~/js/jquery.mockjax.js"></script>

    <script type="text/javascript" language="JavaScript">

      
            var canGetCookie = 0;//是否支持存储Cookie 0 不支持 1 支持
            var ajaxmockjax = 1;//是否启用虚拟Ajax的请求响 0 不启用  1 启用

        


            var CodeVal = 0;
            Code();
            function Code() {
                if (canGetCookie == 1) {
                    createCode("AdminCode");
                    var AdminCode = getCookieValue("AdminCode");
                    showCheck(AdminCode);
                } else {
                    showCheck(createCode(""));
                }
            }
            function showCheck(a) {
                CodeVal = a;
                var c = document.getElementById("myCanvas");
                var ctx = c.getContext("2d");
                ctx.clearRect(0, 0, 1000, 1000);
                ctx.font = "80px 'Hiragino Sans GB'";
                ctx.fillStyle = "#E8DFE8";
                ctx.fillText(a, 0, 100);
            }

      
    
       
        //那啥
        $("#QieHuan").click(function () {
            $("#KKK").attr("hidden", !$("#KKK").attr("hidden"))
            $("#feachBtn").attr("hidden", !$("#KKK").attr("hidden"))

            if ($("#QieHuan").text() == "⇆手机号验证") {
                $("#QieHuan").text("⇆密码验证")              
            } else {
                $("#QieHuan").text("⇆手机号验证")          
            }
            //当手机验证码登录的时候隐藏保存密码
            if ($("#QieHuan").text() == "⇆密码验证") {
                $("#MiMAAAA").attr("hidden", $("#DIV").attr("hidden"));
                $("#OOOOO").attr("hidden", $("#DIV").attr("hidden"));
            } else {
                $("#MiMAAAA").attr("hidden", !$("#DIV").attr("hidden"));
                $("#OOOOO").attr("hidden", !$("#DIV").attr("hidden"));
            }
           

        })
        //忘记密码
        layui.use(['form', 'layedit', 'laydate'], function () {
            var form = layui.form
                , layer = layui.layer

          
            var $ = layui.jquery;
            //弹出层
            $("#add").on('click', function () {
                layer.open({
                    anim: 1,
                    type: 2,
                    Boolean: false,
                    area: ['720px', '520px'],
                    content: ["/AuthorityM/RetrievePassword", "no"],

                });

            })
       
        });
        //记住密码是否开启
        if ($("#YH").val() != "" && $("#ConsumerPwd").val() != "") {
            $("#Checkbox11").attr("checked", true);
        }
        //返回的验证码
        var FYZ;
        //判断是否保存密码
        var Checkbox1 = $("#Checkbox11:checked").val();
        $("#Checkbox11").click(function () {
            Checkbox1= $("#Checkbox11:checked").val();
        })
        var count1 = 0; //次数
       
        //倒计时按钮
        $('.feachBtn').click(function () {
            var ConsumerIPhone = $("#YH").val();

            //判断账号还不是数据库存在的
            $.ajax({
                url: "http://localhost:50111/AuthorityM/Register1?ConsumerIPhone=" + ConsumerIPhone,
                type: "get",
                async: false,
                contentType: "application/json",
                success: function (d) {
                    if (d.length == 0) {
                        layer.msg('非管理员账号!请重新输入');
                        count1 = 0;
                       

                    }
                    else {
                        var pone = $("#YH").val();
                        let count = 15;
                        if (count1 == 5) {
                            $('.feachBtn').val('次数过多,明天再来').attr('disabled', true);
                            return false;
                        }
                        const countDown = setInterval(() => {
                            if (count === 0) {
                                $('.feachBtn').val('重新发送').removeAttr('disabled');
                                $('.feachBtn').css({
                                    background: '#ff9400',
                                    color: '#fff',
                                });
                                clearInterval(countDown);
                            } else {
                                $('.feachBtn').attr('disabled', true);
                                $('.feachBtn').css({
                                    background: '#d8d8d8',
                                    color: '#707070',
                                });
                                $('.feachBtn').val(count + '秒后可重新获取');
                            }
                            count--;
                        }, 1000);

                        $.ajax({
                            url: "/AuthorityM/Authcode?pone=" + pone,
                            type: "get",
                            async: false,
                            dataType: "json",
                            contentType: "application/json",
                            success: function (d) {
                                FYZ = d;
                            }
                        })
                    }
                }
            })
           
          
        });

     

        //倒计时按钮
        var canGetCookie = 0;//是否支持存储Cookie 0 不支持 1 支持
        var ajaxmockjax = 1;//是否启用虚拟Ajax的请求响 0 不启用  1 启用
      

  
        $(document).keypress(function (e) {
            // 回车键事件
            if (e.which == 13) {
                $('input[type="button"]').click();
            }
        });

        var open = 0;
        layui.use('layer', function () {
         
            //非空验证
            $("#Denglu").click(function () {
                var login = $('input[name="login"]').val();
                var pwd = $('input[name="pwd"]').val();
                var code = $('input[name="code"]').val();
                //if (login == '') {
                //    layer.msg('请输入您的账号');
                //} else if (pwd == '') {
                //    layer.msg('请输入密码');
                //} else if (code == '' || code.length != 4) {
                //    layer.msg('输入验证码');
                //}

                //此处做为ajax内部判断
                var url = "";
                //登陆  code 为返回来的验证码
                var JsonData = { login: login, pwd: pwd, code };
                var DL;
                var ConsumerIPhone = $("#YH").val();
                var ConsumerPwd = $("#ConsumerPwd").val();
             
                if ($("#QieHuan").text() == "⇆手机号验证") {
                    if (login == '') {
                        layer.msg('请输入您的账号');
                        return false;
                    } else if (pwd == '') {
                        layer.msg('请输入密码');
                        return false;
                    } else if ($("#gewgergregre").val() == '' || $("#gewgergregre").val().length != 4) {
                        layer.msg('输入验证码');
                        return false;
                    } else if (CodeVal.toUpperCase() != JsonData.code.toUpperCase()  || $("#gewgergregre").val().length != 4) {
                        layer.msg('验证码输入错误');
                        Code();      
                        return false;
                    }else {
                        $.ajax({
                            url: "http://localhost:50111/AuthorityM/Register?ConsumerIPhone=" + ConsumerIPhone + "&ConsumerPwd=" + ConsumerPwd,
                            type: "get",
                            async: false,
                            contentType: "application/json",
                            success: function (d) {
                                if (d.length != 0) {
                                    $.ajax({
                                        url: "/AuthorityM/CC?ConsumerName=" + d[0].consumerName,
                                        type: "get",

                                    })

                                    DL = true;
                                    if (Checkbox1 == "true") {
                                        //保存
                                        layer.msg('密码以保存');
                                        $.ajax({
                                            url: "/AuthorityM/bc?ConsumerIPhone=" + ConsumerIPhone + "&ConsumerPwd=" + ConsumerPwd,
                                            type: "get",

                                        })
                                    }
                                    else {
                                        layer.msg('密码已忘记');
                                        $.ajax({
                                            url: "/AuthorityM/Sc?ConsumerIPhone=",
                                            type: "get",
                                            contentType: "application/json",
                                        })
                                    }

                                } else {
                                    DL = false;
                                }



                            }
                        })
                    }

                } else {
                    if (code == '' || code.length != 4) {
                        layer.msg('请输入验证码');
                        return false;
                    }
                }
                    //认证中..
                    fullscreen();
                    $('.login').addClass('test'); //倾斜特效
                    setTimeout(function () {
                        $('.login').addClass('testtwo'); //平移特效
                    }, 300);
                    setTimeout(function () {
                        $('.authent').show().animate({ right: -320 }, {
                            easing: 'easeOutQuint',
                            duration: 600,
                            queue: false
                        });
                        $('.authent').animate({ opacity: 1 }, {
                            duration: 200,
                            queue: false
                        }).addClass('visible');
                    }, 500);

                    //登陆  code 为返回来的验证码
                    var JsonData = { login: login, pwd: pwd, code };

                   
          
              
                if (DL || JsonData.code.toUpperCase() == FYZ) {
                        url = "Ajax/Login";
                 } else {
                        url = "Ajax/LoginFalse";
                 }


                    AjaxPost(url, JsonData,
                        function () {
                            //ajax加载中
                        },
                        function (data) {
                            //ajax返回
                            //认证完成
                            setTimeout(function () {
                                $('.authent').show().animate({ right: 90 }, {
                                    easing: 'easeOutQuint',
                                    duration: 600,
                                    queue: false
                                });
                                $('.authent').animate({ opacity: 0 }, {
                                    duration: 200,
                                    queue: false
                                }).addClass('visible');
                                $('.login').removeClass('testtwo'); //平移特效
                            }, 2000);
                            setTimeout(function () {
                                $('.authent').hide();
                                $('.login').removeClass('test');
                                if (data.Status == 'ok') {
                                    //登录成功
                                    $('.login div').fadeOut(100);
                                    $('.success').fadeIn(1000);
                                    $('.success').html(data.Text);
                                  
                                    //跳转操作
                                    location.href = "/AuthorityM/Cs";
                                } else {
                                    AjaxErro(data);
                                }
                            }, 2400);
                        })
                //}
            })
        })
        var fullscreen = function () {
            elem = document.body;
            if (elem.webkitRequestFullScreen) {
                elem.webkitRequestFullScreen();
            } else if (elem.mozRequestFullScreen) {
                elem.mozRequestFullScreen();
            } else if (elem.requestFullScreen) {
                elem.requestFullscreen();
            } else {
                //浏览器不支持全屏API或已被禁用
            }
        }
        if (ajaxmockjax == 1) {
            $.mockjax({
                url: 'Ajax/Login',
                status: 200,
                responseTime: 50,
                responseText: { "Status": "ok", "Text": "登陆成功<br /><br />欢迎回来" }
            });
            $.mockjax({
                url: 'Ajax/LoginFalse',
                status: 200,
                responseTime: 50,
                responseText: { "Status": "Erro", "Erro": "账号名或密码或验证码有误" }
            });
        }


    </script>

</body>
</html>
