
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui/layui.js"></script>
    <title>编辑用户信息</title>
    <script> 
        var ss;
        var cc;
        layui.use(['form', 'layedit', 'laydate'], function () {
            var form = layui.form
                , layer = layui.layer
                , layedit = layui.layedit
                , laydate = layui.laydate;
            var $ = layui.jquery;

              $.ajax({
                url: "@ViewBag.Str/api/UserPartSel?id=" +@ViewBag.id,
                type: 'post',
                contentType: 'application/json',
                  success: function (data) {
                      $("#ConsumerName").val(data.consumerName);
                      $("#ConsumerIPhone").val(data.consumerIPhone);
                      cc = data.partId;
                      ss = data.organId;
                      $("#ConsumerRemark").val(data.consumerRemark);
                }
            })

            OrganShow();
            PartShow();
            //监听提交
            form.on('submit(demo1)', function (data) {

                var Arry = [];
                $(".Part:checked").each(function () {
                    Arry.push($(this).val());
                })

                var ss = {};
                ss.ConsumerName = data.field.ConsumerName;
                ss.ConsumerIPhone = data.field.ConsumerIPhone;
                ss.Parts = Arry.toString();
                ss.ConsumerSection = Number(data.field.ConsumerSection);
                ss.ConsumerRemark = data.field.ConsumerRemark;
                ss.Handlers = ViewBag.Handlers;
                ss.ConsumerId = Number(ViewBag.id);
                $.ajax({
                    url: "@ViewBag.Str/api/UptUserPart",
                    type: "post",
                    data: JSON.stringify(ss),
                    contentType: "application/json",
                    success: function (data) {
                        if (data > 0) {
                            layer.msg('修改');
                        } else {
                            layer.msg('添加失败')
                        }
                    }
                })
                return false;
            });
        });

        //选择机构
        function OrganShow() {
            var $ = layui.jquery;
            var form = layui.form
            $.ajax({
                url: "@ViewBag.Str/api/GetOrganMod",
                type: "get",
                contentType: "application/json",
                success: function (data) {
                    $("#Organ").empty();
                    var str = "";
                    str += "<option value='0'>请选择</option>";
                    $(data).each(function () {
                        if (this.organId == ss) {
                            str += '<option value="' + this.organId + '" selected="selected">' + this.organName + '</option>';
                        } else {
                            str += '<option value="' + this.organId + '">' + this.organName + '</option>';
                        }
                       
                    })
                    $("#Organ").append(str);
                    form.render("select");
                }
            })
        }

        //角色显示
        function PartShow() {
            var $ = layui.jquery;
            var form = layui.form
            $.ajax({
                url: "@ViewBag.Str/api/PartShows",
                type: "get",
                contentType: "application/json",
                success: function (data) {
                    $("#SelectData").empty();
                    var str = "";
                    $(data).each(function () {
                        if (cc == this.partId) {
                            str += "<input type='checkbox' name='PartId' checked class='Part' value='" + this.partId + "' lay-skin='primary' title='" + this.partName + "'>";
                        } else {
                            str += "<input type='checkbox' name='PartId' class='Part' value='" + this.partId + "' lay-skin='primary' title='" + this.partName + "'>";
                        }
                     })
                    $("#SelectData").append(str);
                    form.render("checkbox");
                }
            })
        }
    </script>
</head>
<body>
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-block">
                <input type="text" name="ConsumerName" id="ConsumerName" lay-verify="title" autocomplete="off" placeholder="请输入姓名" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">手机号码</label>
            <div class="layui-input-inline">
                <input type="tel" name="ConsumerIPhone" id="ConsumerIPhone" lay-verify="required|phone" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" pane="">
            <label class="layui-form-label">所属角色</label>
            <div class="layui-input-block" id="SelectData">

            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">权限机构</label>
            <div class="layui-input-inline">
                <select name="ConsumerSection" id="Organ">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" class="layui-textarea" name="ConsumerRemark" id="ConsumerRemark"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</body>
</html>
