
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui/layui.js"></script>
    <title>AuditS</title>
    <script>
        layui.use('table', function () {
            var table = layui.table;
            var $ = layui.jquery;
            $.ajax({
                url: "@ViewBag.Str/api/ApplyFormallessonses?id="+@ViewBag.id,
                type: "get",
                contentType: "application/json",
                success: function (data) {
                    var str = "";
                    $(data).each(function () {

                        str += "<table style='margin - left: 50px; margin - top: 30px' >";
                        str += "<tr>";
                        str += "<td><lable>上课主题：" + this.auditionClass + "</lable>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>";
                        str += "<td><lable>班型：" + this.classModelName + "</lable>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>";
                        str += "</tr>";
                        str += "</table><br /><br />";

                        str += "<table style='margin - left: 50px; margin - top: 30px' >";
                        str += "<tr>";
                        str += "<td><lable>课堂状态：" + this.kezhuang + "</lable>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>";
                        str += "<td><lable>教师名称：" + this.teacherName + "</lable></td>";
                        str += "</tr>";
                        str += "</table><br /><br />";

                        str += "<table style='margin - left: 50px; margin - top: 30px' >";
                        str += "<tr>";
                        str += "<td><lable>课程类别：" + this.auditionType + "</lable>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>";
                        str += "<td><lable>课表审核：" + this.shen + "</lable>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>";
                        str += "<td><lable>年级：" + this.studyName + "</lable>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>";
                        str += "</tr>";
                        str += "</table><br /><br />"; 
                    })
                    $("#xiang").append(str);
                }
            })

            $("#tong").on('click', function () {
                $.ajax({
                    url: "http://localhost:50111/api/xiugai?i=1&id="+@ViewBag.id,
                    type: "post",
                    contentType: "application/json",
                    success: function (data) {
                        if (data>0) {
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);//关闭当前页  
                            window.parent.location.replace("/StudentM/TrialClass")//刷新父级页面
                        }
                        
                    }
                })
            })
            $("#bo").on('click', function () {
                $.ajax({
                    url: "http://localhost:50111/api/xiugai?i=2&id=" +@ViewBag.id,
                    type: "post",
                    contentType: "application/json",
                    success: function (data) {
                        if (data>0) {
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);//关闭当前页  
                            window.parent.location.replace("/StudentM/TrialClass")//刷新父级页面
                        }
                    }
                })
            })

        });



    </script>
</head>
<body>
    <fieldset id="XY" class="layui-elem-field layui-field-title" style="margin-top: 30px;color:green">
        <table style="margin-left:50px;margin-top:30px" id="xiang">

        </table>
        <button type="button" class="layui-btn" id="tong">通过按钮</button>
        <button type="button" class="layui-btn layui-btn-danger" id="bo">驳回按钮</button>
    </fieldset>
</body>
</html>
