
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>添加家长信息</title>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui/layui.js"></script>
    <script>
        layui.use(['form', 'layedit', 'laydate'], function () {
            var form = layui.form
                , layer = layui.layer
                , layedit = layui.layedit
                , laydate = layui.laydate;

            var $ = layui.jquery;

            //监听提交
            $("#demo1").on('click', function () {
                var ss = {};
                ss.PatriarchName=$("#PatriarchName").val();
                ss.PatriarchIphone= $("#PatriarchIphone").val();
                ss.PatriarchRelation=$("#PatriarchRelation").val();
                ss.PatriarchOccupation = $("#PatriarchOccupation").val();
                ss.PatriarchAge = Number($("#PatriarchAge").val());
                ss.PatriarchWeChat= $("#PatriarchWeChat").val();
                ss.PatriarchRemark = $("#PatriarchRemark").val();
                ss.studentid = Number(@ViewBag.id);
                 $.ajax({
                     url: "@ViewBag.Str/api/ParentAdd",
                     type: "post",
                     data: JSON.stringify(ss),
                     contentType: "application/json",
                     success: function (data) {
                         if (data>0) {
                             alert('添加成功');
                             var index = parent.layer.getFrameIndex(window.name);
                             parent.layer.close(index);//关闭当前页
                             window.parent.location.reload();
                         }
                    }
                })

            })



        });
    </script>
</head>
<body>
    <div class="layui-form-item">
        <label class="layui-form-label">*家长姓名</label>
        <div class="layui-input-inline">
            <input type="text" name="PatriarchName" id="PatriarchName" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">*家长手机号</label>
        <div class="layui-input-inline">
            <input type="text" name="PatriarchIphone" id="PatriarchIphone" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">*与孩子关系</label>
        <div class="layui-input-inline">
            <select name="PatriarchRelation" id="PatriarchRelation">
                <option value="">请选择关系</option>
                <option value="父亲" selected="">父亲</option>
                <option value="母亲">母亲</option>
                <option value="爷爷">爷爷</option>
                <option value="奶奶">奶奶</option>
                <option value="其他">其他</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">职业</label>
        <div class="layui-input-inline">
            <input type="text" name="PatriarchOccupation" id="PatriarchOccupation" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">年龄</label>
            <div class="layui-input-inline">
                <input type="text" name="PatriarchAge" id="PatriarchAge" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">微信</label>
        <div class="layui-input-inline">
            <input type="text" name="PatriarchWeChat" id="PatriarchWeChat" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入内容" id="PatriarchRemark" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="button" class="layui-btn" lay-filter="demo1" id="demo1">保存</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</body>
</html>
