
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui/layui.js"></script>
    <title>DropApplyShow</title>
    <script>
        layui.use(['form', 'layedit', 'laydate', 'table'], function () {
            var table = layui.table;
            var form = layui.form
                , layer = layui.layer
                , layedit = layui.layedit
                , laydate = layui.laydate;
            var $ = layui.$;
            Organ();
            BusinessType()
            ClassModel()
            HourType()
            Study()
            Subjects()
            function Organ() {
                $.ajax({
                    url: "http://localhost:50111/TeachingM/Organ",
                    type: "get",
                    contentType: "application/json",
                    dataType: "json",
                    success: function (d) {
                        $("#quiz1").empty();
                        $("#quiz1").append("<option value='-1'>请选择机构</option>");
                        $(d).each(function () {
                            var list = '<option value=' + this.organId + '>' + this.organName + '</option>';
                            $("#quiz1").append(list);
                        });
                        layui.form.render("select");

                    }

                })
            }
            function BusinessType() {
                $.ajax({
                    url: "http://localhost:50111/TeachingM/BusinessType",
                    type: "get",
                    contentType: "application/json",
                    dataType: "json",
                    success: function (d) {
                        $("#quiz2").empty();
                        $("#quiz2").append("<option value='-1'>请选择业务类型</option>");
                        $(d).each(function () {
                            var list = '<option value=' + this.businessTypeId + '>' + this.businessTypeName + '</option>';
                            $("#quiz2").append(list);
                        });
                        layui.form.render("select");

                    }

                })
            }
            function ClassModel() {
                $.ajax({
                    url: "http://localhost:50111/TeachingM/ClassModel",
                    type: "get",
                    contentType: "application/json",
                    dataType: "json",
                    success: function (d) {
                        $("#quiz3").empty();
                        $("#quiz3").append("<option value='-1'>请选择班型</option>");
                        $(d).each(function () {
                            var list = '<option value=' + this.classModelId + '>' + this.classModelName + '</option>';
                            $("#quiz3").append(list);
                        });
                        layui.form.render("select");

                    }

                })
            }
            function HourType() {
                $.ajax({
                    url: "http://localhost:50111/TeachingM/HourType",
                    type: "get",
                    contentType: "application/json",
                    dataType: "json",
                    success: function (d) {
                        $("#quiz5").empty();
                        $("#quiz5").append("<option value='-1'>请选择课时类型</option>");
                        $(d).each(function () {
                            var list = '<option value=' + this.hourTypeId + '>' + this.hourTypeName + '</option>';
                            $("#quiz5").append(list);
                        });
                        layui.form.render("select");

                    }

                })
            }
            function Study() {
                $.ajax({
                    url: "http://localhost:50111/TeachingM/Study",
                    type: "get",
                    contentType: "application/json",
                    dataType: "json",
                    success: function (d) {
                        $("#quiz7").empty();
                        $("#quiz7").append("<option value='-1'>请选择年级</option>");
                        $(d).each(function () {
                            var list = '<option value=' + this.stID + '>' + this.studyName + '</option>';
                            $("#quiz7").append(list);
                        });
                        layui.form.render("select");

                    }

                })
            }
            function Subjects() {
                $.ajax({
                    url: "http://localhost:50111/TeachingM/Subjects",
                    type: "get",
                    contentType: "application/json",
                    dataType: "json",
                    success: function (d) {
                        $("#quiz8").empty();
                        $("#quiz8").append("<option value='-1'>请选择学科</option>");
                        $(d).each(function () {
                            var list = '<option value=' + this.subjectsId + '>' + this.subjectsName + '</option>';
                            $("#quiz8").append(list);
                        });
                        layui.form.render("select");

                    }

                })
            }

            //日期
            laydate.render({
                elem: '#date'
            });
            laydate.render({
                elem: '#date1'
            });
            layui.use('table', function () {
                var table = layui.table;

                table.render({
                    elem: '#test'
                    , url: 'http://localhost:50111/TeachingM/DropClassModShow'
                    , cols: [[
                        { type: 'numbers', title: '序号', width: 100 }
                        , { field: 'OrganName', title: '机构名称', width: 100 }
                        , { field: 'Remark', title: '备注', width: 100 }
                        , { field: 'AuditorDropdateTime', title: '申请时间', width: 250 }                                                           
                        , { field: 'StudentName', title: '学生姓名', width: 100 }  
                        , { field: 'OrganPhoneName', title: '上课老师', width: 100 }                         
                    ]]
                });

            });        
        });
    </script>

</head>
<body>
    <form class="layui-form" action="">
        <div style="float:left">
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <select id="quiz1">
                        <option selected value="">请选择机构</option>
                    </select>
                </div>
            </div>
        </div>
        <div style="float:left">
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <select id="quiz2">
                        <option value="">请选择业务类型</option>
                    </select>
                </div>
            </div>
        </div>
        <div style="float:left">
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <select id="quiz3">
                        <option value="">请选择班型</option>
                    </select>
                </div>
            </div>
        </div>
        <div style="float:left">
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <select id="quiz4">
                        <option value="-1">请选择课程类别</option>
                        <option value="1">试听课</option>
                        <option value="2">正式课</option>
                    </select>
                </div>
            </div>
        </div>
        <div style="float:left">
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <select id="quiz5">
                        <option value="">请选择课时类型</option>
                    </select>
                </div>
            </div>
        </div>
        <div style="float:left">
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <select id="quiz6">
                        <option value="-1">请选择课堂状态</option>
                        <option value="1">以上课</option>
                        <option value="2">以排课</option>
                        <option value="3">以备课</option>
                        <option value="4">以上课</option>
                        <option value="5">未上课</option>
                        <option value="6">已取消</option>
                        <option value="7">以退课</option>
                        <option value="8">返还课</option>
                    </select>
                </div>
            </div>
        </div>
        <div style="float:left">
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <select id="quiz7">
                        <option value="">请选择年级</option>
                    </select>
                </div>
            </div>
        </div>
        <div style="float:left">
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <select id="quiz8">
                        <option value="">请选择学科</option>
                    </select>
                </div>
            </div>
        </div>
        <div style="float:left">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input type="text" name="date" id="date1" lay-verify="date" placeholder="上课时间-->" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
        </div>
        <div style="float:left">
            <div class="layui-form-item">
                <div class="layui-form-mid">至</div>
            </div>
        </div>
        <div style="float:left">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input type="text" name="date" id="date" lay-verify="date" placeholder="<--上课时间" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
        </div>
        <div style="float:left">
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <input type="text" id="username" lay-verify="required" placeholder="任课教师" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div style="float:left">
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <input type="text" id="XueYuan" lay-verify="required" placeholder="学员姓名" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div style="float:left">
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <input type="text" id="Banzhu" lay-verify="required" placeholder="班主任" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>

        <div id="demoTable" style="float:right;margin-right:100px">
            <button class="layui-btn" data-type="reload" id="sel">检索</button>
        </div>
        <br />
        <br />
    </form>
    <div style="float:left;margin-right:400px">
        <table class="layui-hide" id="test"></table>
    </div>  
</body>
</html>
