
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui/layui.js"></script>
    <title>DropApplyShow</title>
    <script>
        layui.use(['form', 'layedit', 'laydate', 'table'], function () {
            var table = layui.table;
            var form = layui.form
                , layer = layui.layer
                , layedit = layui.layedit
                , laydate = layui.laydate;
            var $ = layui.$;
            Organ();
           
            function Organ() {
                $.ajax({
                    url: "@ViewBag.Str/TeachingM/Organ",
                    type: "get",
                    contentType: "application/json",
                    dataType: "json",
                    success: function (d) {
                        $("#quiz1").empty();
                        $("#quiz1").append("<option value='-1'>请选择机构</option>");
                        $(d).each(function () {
                            var list = '<option value=' + this.organId + '>' + this.organName + '</option>';
                            $("#quiz1").append(list);
                        });
                        layui.form.render("select");

                    }

                })
            }           
                      
             
            

      
            layui.use('table', function () {
                var table = layui.table;

                table.render({
                    elem: '#test'
                    , url: '@ViewBag.Str/TeachingM/DropClassModShow'
                    , cols: [[
                        { type: 'numbers', title: '序号', width: 100 }
                        , { field: 'OrganName', title: '机构名称', width: 100 }
                        , { field: 'Remark', title: '备注', width: 100 }
                        , { field: 'AuditorDropdateTime', title: '申请时间', width: 250 }
                        , { field: 'StudentName', title: '学生姓名', width: 100 }
                        , { field: 'OrganPhoneName', title: '上课老师', width: 100 }
                        , { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150 }
                    ]]
                    , page: true
                    , limit: 2
                    , limits: [1, 3, 6]
                    , request: {
                        pageName: 'PageIndex' //页码的参数名称，默认：page
                        , limitName: 'PageSize' //每页数据量的参数名，默认：limit
                    }
                });

            });
            //监听行工具事件
            table.on('tool(test)', function (obj) {
                var data = obj.data;
                //console.log(obj)
                if (obj.event === 'del') {
                    layer.confirm('真的删除行么', function (index) {
                        obj.del();
                        layer.close(index);
                    });
                }  
            });
        });
    </script>
    <script type="text/html" id="barDemo">     
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
</head>
<body>
    <form class="layui-form" action="">
        <div style="float:left">
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <select id="quiz1">
                        <option selected value="">请选择机构</option>
                    </select>
                </div>
            </div>
        </div>             
       
       
        <div style="float:left">
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <input type="text" id="username" lay-verify="required" placeholder="任课教师" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div style="float:left">
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <input type="text" id="XueYuan" lay-verify="required" placeholder="学员姓名" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div style="float:left">
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <input type="text" id="Banzhu" lay-verify="required" placeholder="班主任" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>

        <div id="demoTable" style="float:right;margin-right:100px">
            <button class="layui-btn" data-type="reload" id="sel">检索</button>
        </div>
        <br />
        <br />
    </form>
    <div style="float:left;margin-right:400px">
        <table class="layui-hide" id="test" lay-filter="test"></table>
    </div>  
</body>
</html>
