
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>排课申请查看</title>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui/layui.js"></script>
</head>
<body>    
    <table>
        <tr>
            <td>
                <div class="layui-form-item">
                    <div class="layui-input-inline">
                        <input type="text" id="username" lay-verify="required" placeholder="任课教师" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </td>
            <td>
                <div class="layui-form-item">
                    <div class="layui-input-inline">
                        <input type="text" id="XueYuan" lay-verify="required" placeholder="学员姓名" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </td>
            <td>
                <div id="demoTable" style="float:right;margin-right:100px">
                    <button class="layui-btn" data-type="reload" id="sel">检索</button>
                </div>
            </td>
        </tr>
    </table>
    <fieldset id="XY" class="layui-elem-field layui-field-title" style="margin-top: 30px;color:green">
        <legend>排课申请</legend>
    </fieldset>
    <div>
        <table class="layui-hide" id="test" lay-filter="test"></table>
    </div>


    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">为该学生重新排课</a>
    </script>
    <script>
        layui.use('table', function () {
            var table = layui.table;
            table.render({
                elem: '#test'
                , url: '@ViewBag.Str/TeachingM/FAFSAShow1'
                , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                , cols: [[
                    , { field: 'AuditionID', title: '序号', width: 36 }
                    , { field: 'Data', title: '上课日期', width: 100 }
                    , { field: 'AuditionClass', title: '上课主题', width: 100 }
                    , { field: 'StudentName', title: '学员姓名', width: 100 }
                    , { field: 'StudyName', title: '年级', width: 100 }
                    , { field: 'SubjectsName', title: '学科', width: 100 }
                    , { field: 'TeacherName', title: '任课老师', width: 100 }
                    , { field: 'OrganPhoneName', title: '班主任', width: 100 }
                    , { field: 'HourTypeName', title: '课时', width: 100 }
                    , { field: 'BusinessTypeName', title: '业务类型', width: 100 }
                    , { field: 'ClassModelName', title: '班型', width: 100 }
                    , { field: 'AuditionType', title: '课程类别', width: 100 }
                    , { field: 'HourTypeName', title: '课时类型', width: 100 }
                    , {
                        field: 'AuditionState', title: '课堂状态', width: 100, templet: function (d) {
                            if (d.AuditionState == 2) {
                                return "已排课"
                            }
                            if (d.AuditionState == 3) {
                                return "已备课"
                            }
                            if (d.AuditionState == 4) {
                                return "已上课"
                            }
                            if (d.AuditionState == 5) {
                                return "未上课"
                            }
                            if (d.AuditionState == 1) {
                                return "已上课"
                            }
                        }
                    }
                    , {
                        field: 'AuditorPTime', title: '审核时间'
                    }
                    , { field: 'OrganName', title: '机构', width: 100 }
                    , { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150 }
                ]]

            });
            //监听行工具事件
            table.on('tool(test)', function (obj) {
                var data = obj.data;
                //console.log(obj)
                if (obj.event === 'del') {
                    location.href = '/TeachingM/AddTrial?id=' + data.StudentId + "&AuditionID=" + data.AuditionID + "&banxing=" + data.ClassModelId + "&ywlx=" + data.BusinessTypeId + "&kslx=" + data.HourTypeId + "&xd=" + data.StID + "&nj=" + data.StudyId + "&xk=" + data.SubjectsId + "&zt=" + data.AuditionClass;
                }

            });

        });
    </script>
</body>
</html>
