
@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/layui/css/layui.css" rel="stylesheet" />
<script src="~/layui/layui.js"></script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddOrders</title>
</head>
<body>
    <form class="layui-form" action="" lay-filter="example" style="width:1000px">
        <div class="layui-form-item">
            <label class="layui-form-label">学生账号:</label>
            <div style="float:left">
                <input type="text" name="StudentIphone" id="StudentIphone" lay-verify="required" placeholder="学生账号" readonly autocomplete="off" class="layui-input">
            </div>
            <div style="float:left">
                <button type="button" data-method="offset" id="purpose" data-type="auto" class="layui-btn layui-btn-radius" value="0">选择意向学员</button><button type="button"  data-method="offset" id="order" data-type="auto" class="layui-btn layui-btn-radius" value="1">选择成单学员</button>
            </div>
        </div>
        <div  class="layui-form-item">
            <label class="layui-form-label">学生姓名:</label><label id="StudentName"></label>
            <label class="layui-form-label">所属机构:</label><label id="OrganName"></label>
            <label class="layui-form-label">年级:</label><label id="StudyName"></label>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">业务类型</label>
            <div class="layui-input-block">
                <select name="BusinessType" id="BusinessType" lay-filter="aihao">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="layui-form-item" style="float:left">
            <label class="layui-form-label">班型</label>
            <div class="layui-input-block">
                <select name="ClassModel" id="ClassModel" lay-filter="aihao">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div style="float:left">
            <label class="layui-form-label">学段</label>
            <div class="layui-input-block">
                <select name="Study" id="Study" lay-filter="aihao">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="layui-form-item" style="float:left">
            <label class="layui-form-label">课时类型</label>
            <div class="layui-input-block">
                <select name="HourType" id="HourType" lay-filter="aihao">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">课时单价</label>
            <div class="layui-input-inline">
                <label id="PricingPrice"></label>
            </div>
        </div>
        <div class="layui-form-item" style="float:left">
            <label class="layui-form-label">课时数</label>
            <div class="layui-input-block">
                <input type="text" name="PeriodNum" lay-verify="required" lay-reqtext="课时数不能为空" placeholder="课时数" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div style="float:left">
            <label class="layui-form-label">赠送课时</label>
            <div class="layui-input-block">
                <input type="text" name="ComplimentaryPeriod" lay-verify="required" lay-reqtext="赠送课时不能为空" placeholder="赠送课时" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" style="float:left">
            <label class="layui-form-label">商品总价</label>
            <div class="layui-input-block">
                <input type="text" name="CommodityPrice" lay-verify="required" placeholder="商品总价" readonly autocomplete="off" class="layui-input">
            </div>
        </div>
        <div style="float:left">
            <label class="layui-form-label">优惠价</label>
            <div class="layui-input-block">
                <input type="text" name="PreferentialPrice" lay-verify="required" lay-reqtext="优惠价不能为空" placeholder="优惠价" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注:</label>
            <div class="layui-input-block">
                <textarea class="layui-textarea" name="OrdersRemark"></textarea>
            </div>
        </div>

        <div style="float:left">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">取消</button>
            </div>
        </div>
        <div style="float:left">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">提交</button>
            </div>
        </div>
    </form>
    <script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;
        var $ = layui.$;
        

        @* 绑定下拉 *@
        BusinessType();
        ClassModel();
        Study();
        HourType();
        

        var arr = location.href.split('/');
        var id = arr[arr.length - 1];

        @*ajax反填数据*@

        $.ajax({
            url: 'http://localhost:50111/api/GetStudentsById?id=' + id,
            contentType: "application/json",
            type: 'get',
            dataType: 'json',
            success: function (data) {
                $("#StudentIphone").val(data.StudentIphone);
                $("#StudentName").val(data.StudentName);
                $("#OrganName").val(data.OrganName);
                $("#StudyName").val(data.StudyName);
            }
        });

        $("#purpose").on('click', function () {
            var purpose = $("#purpose").val();
            layer.open({
                title: '添加'
                , type: 2
                , area: ['1000px', '500px']
                , id: 'LAY_layuipro' //设定一个id，防止重复弹出
                , content: ['/IndentM/SelectStudent/' + purpose]
                , btnAlign: 'c' //按钮居中
                , shade: 0 //不显示遮罩
                ,btn:['取消']
                , offset: 'auto'
                , anim: 4
            });
        })
        $("#order").on('click', function () {
            var order = $("#order").val();
            layer.open({
                title: '添加'
                , type: 2
                , id: 'LAY_layuipro' //设定一个id，防止重复弹出
                , area: ['1000px', '500px']
                , content: ['/IndentM/SelectStudent/' + order]
                , btn: ['取消']
                , btnAlign: 'c' //按钮居中
                , shade: 0 //不显示遮罩
                , offset: 'auto'
                , anim: 4
            });
        })


        //绑定业务类型
        function BusinessType() {
            var $ = layui.$;
            $.ajax({
                url: "http://localhost:50111/api/GetBusinessType",
                contentType: "application/json",
                type: "get",
                dataType: "json",
                success: function (data) {
                    $("#BusinessType").empty();
                    $("#BusinessType").append("<option value='-1'>业务类型</option>");
                    $(data).each(function () {
                        var str = '<option value="'+ this.BusinessTypeId + '">' + this.BusinessTypeName + '</option>';
                        $("#BusinessType").append(str);
                    });
                    layui.form.render("select");
                }
            });
        }
        //绑定班型
        function ClassModel() {
            var $ = layui.$;
            $.ajax({
                url: "http://localhost:50111/api/GetClassModel",
                contentType: "application/json",
                type: "get",
                async: false,
                dataType: "json",
                success: function (data) {
                    $("#ClassModel").empty();
                    $("#ClassModel").append("<option value='-1'>班型</option>");
                    $(data).each(function () {
                        var str = '<option value="' + this.ClassModelId + '">' + this.ClassModelName + '</option>';
                        $("#ClassModel").append(str);
                    });
                }
            });
        }
        //绑定学段
        function Study() {
            var $ = layui.$;
            $.ajax({
                url: "http://localhost:50111/api/GetStudy",
                contentType: "application/json",
                type: "get",
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#Study").empty();
                    $("#Study").append("<option value='-1'>学段</option>");
                    $(data).each(function () {
                        var str = '<option value="' + this.StID + '">' + this.StudyName + '</option>';
                        $("#Study").append(str);
                    });
                }
            });
        }
        //绑定课时类型
        function HourType() {
            var $ = layui.$;
            $.ajax({
                url: "http://localhost:50111/api/GetTypeMod",
                contentType: "application/json",
                type: "get",
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#HourType").empty();
                    $("#HourType").append("<option value='-1'>课时类型</option>");
                    $(data).each(function () {
                        var str = '<option value="' + this.HourTypeId + '">' + this.HourTypeName + '</option>';
                        $("#HourType").append(str);
                    });
                }
            });
        }





    });
    </script>
</body>
</html>
