
@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/layui/css/layui.css" rel="stylesheet" />
<script src="~/layui/layui.js"></script>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddOrders</title>
</head>
<body>
    <form class="layui-form" action="" lay-filter="example" style="width:1000px">
        <div class="layui-form-item">
            <label class="layui-form-label">学生账号:</label>
            <div style="float:left">
                <input type="text" name="StudentIphone" id="StudentIphone" placeholder="学生账号" readonly autocomplete="off" class="layui-input">
                <input type="hidden" name="StudentId" id="StudentId" />
            </div>
            <div style="float:left">
                <select name="StudentKind" id="StudentKind" lay-filter="StudentKind">
                    <option value="-1">选择学员</option>
                    <option value="0">意向学员</option>
                    <option value="1">成单学员</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item" style="float:left">
            <label class="layui-form-label">学生姓名:</label>
            <div style="float:left">
                <input type="text" name="StudentName" id="StudentName" placeholder="学生姓名" readonly autocomplete="off" class="layui-input">
            </div>
        </div>
        <div style="float:left">
            <label class="layui-form-label">所属机构:</label>
            <div style="float:left">
                <input type="hidden" name="RecursionId" id="RecursionId" />
                <input type="text" name="OrganName" id="OrganName" placeholder="所属机构" readonly autocomplete="off" class="layui-input">
            </div>
        </div>
        <div style="float:left">
            <label class="layui-form-label">年级:</label>
            <div style="float:left">
                <input type="hidden" name="StID" id="StID" />
                <input type="text" name="StudyName" id="StudyName" placeholder="年级" readonly autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" style="float:left">
            <label class="layui-form-label">业务类型</label>
            <div class="layui-input-block">
                <select name="BusinessType" id="BusinessType" lay-filter="aihao">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div style="float:left">
            <label class="layui-form-label">价格级别</label>
            <div class="layui-input-block">
                <select name="PriceRank" id="PriceRank" lay-filter="PriceRank">
                    <option value=""></option>
                </select>
            </div>
        </div>

        <div class="layui-form-item" style="float:left">
            <label class="layui-form-label">班型</label>
            <div class="layui-input-block">
                <select name="ClassModel" id="ClassModel" lay-filter="ClassModel">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div style="float:left">
            <label class="layui-form-label">学段</label>
            <div class="layui-input-block">
                <select name="Study" id="Study" lay-filter="Study">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="layui-form-item" style="float:left">
            <label class="layui-form-label">课时类型</label>
            <div class="layui-input-block">
                <select name="HourType" id="HourType" lay-filter="HourType">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">课时单价:</label>
            <div style="float:left">
                <input type="hidden" name="PricingId" id="PricingId" value="" />
                <input type="text" name="PricingPrice" id="PricingPrice" lay-verify="required" placeholder="课时单价" readonly autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" style="float:left">
            <label class="layui-form-label">课时数</label>
            <div class="layui-input-block">
                <input type="text" name="PeriodNum" id="PeriodNum" lay-verify="required" lay-reqtext="课时数不能为空" placeholder="课时数" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div style="float:left">
            <label class="layui-form-label">赠送课时</label>
            <div class="layui-input-block">
                <input type="text" name="ComplimentaryPeriod" id="ComplimentaryPeriod" lay-verify="required" lay-reqtext="赠送课时不能为空" placeholder="赠送课时" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" style="float:left">
            <label class="layui-form-label">商品总价</label>
            <div class="layui-input-block">
                <input type="text" name="CommodityPrice" id="CommodityPrice" lay-verify="required" placeholder="商品总价" readonly autocomplete="off" class="layui-input">
            </div>
        </div>
        <div style="float:left">
            <label class="layui-form-label">优惠价</label>
            <div class="layui-input-block">
                <input type="text" name="PreferentialPrice" id="PreferentialPrice" lay-verify="required" lay-reqtext="优惠价不能为空" placeholder="优惠价" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注:</label>
            <div class="layui-input-block">
                <textarea class="layui-textarea" name="OrdersRemark" id="OrdersRemark"></textarea>
            </div>
        </div>
        <div style="float:left">
            <div class="layui-input-block">
                <button type="button" class="layui-btn" lay-submit="" id="cancel" lay-filter="demo1">取消</button>
            </div>
        </div>
        <div style="float:left">
            <div class="layui-input-block">
                <button type="button" class="layui-btn" id="submit" lay-filter="demo1">提交</button>
            </div>
        </div>
    </form>


    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="option">选择</a>
    </script>
    <div class="layui-form-item">
        <div><table class="layui-hide" id="student" lay-filter="student"></table></div>  @*选择学生*@
    </div>


    <script>
        layui.use(['form', 'layer', 'laydate','table'], function () {
        var form = layui.form
            , layer = layui.layer
            , table = layui.table
            , laydate = layui.laydate;
        var $ = layui.$;



            @* 绑定下拉 *@
            BusinessType();
            ClassModel();
            Study();
            HourType();
            PriceRank();
            //绑定业务类型
            function BusinessType() {
                var $ = layui.$;
                $.ajax({
                    url: "http://localhost:50111/api/GetBusinessType",
                    contentType: "application/json",
                    type: "get",
                    dataType: "json",
                    success: function (data) {
                        $("#BusinessType").empty();
                        $("#BusinessType").append("<option value='-1'>业务类型</option>");
                        $(data).each(function () {
                            var str = '<option value="' + this.BusinessTypeId + '">' + this.BusinessTypeName + '</option>';
                            $("#BusinessType").append(str);
                        });
                        layui.form.render("select");
                    }
                });
            }
            //绑定班型
            function ClassModel() {
                var $ = layui.$;
                $.ajax({
                    url: "http://localhost:50111/api/GetClassModel",
                    contentType: "application/json",
                    type: "get",
                    async: false,
                    dataType: "json",
                    success: function (data) {
                        $("#ClassModel").empty();
                        $("#ClassModel").append("<option value='-1'>班型</option>");
                        $(data).each(function () {
                            var str = '<option value="' + this.ClassModelId + '">' + this.ClassModelName + '</option>';
                            $("#ClassModel").append(str);
                        });
                    }
                });
            }
            //绑定学段
            function Study() {
                var $ = layui.$;
                $.ajax({
                    url: "http://localhost:50111/api/GetStudy",
                    contentType: "application/json",
                    type: "get",
                    dataType: "json",
                    async: false,
                    success: function (data) {
                        $("#Study").empty();
                        $("#Study").append("<option value='-1'>学段</option>");
                        $(data).each(function () {
                            var str = '<option value="' + this.StID + '">' + this.StudyName + '</option>';
                            $("#Study").append(str);
                        });
                    }
                });
            }
            //绑定课时类型
            function HourType() {
                var $ = layui.$;
                $.ajax({
                    url: "http://localhost:50111/api/GetTypeMod",
                    contentType: "application/json",
                    type: "get",
                    dataType: "json",
                    async: false,
                    success: function (data) {
                        $("#HourType").empty();
                        $("#HourType").append("<option value='-1'>课时类型</option>");
                        $(data).each(function () {
                            var str = '<option value="' + this.HourTypeId + '">' + this.HourTypeName + '</option>';
                            $("#HourType").append(str);
                        });
                    }
                });
            }
            //绑定价格级别
            function PriceRank() {
                var $ = layui.$;
                $.ajax({
                    url: "http://localhost:50111/api/GetPriceRank",
                    contentType: "application/json",
                    type: "get",
                    dataType: "json",
                    async: false,
                    success: function (data) {
                        $("#PriceRank").empty();
                        $("#PriceRank").append("<option value='-1'>价格级别</option>");
                        $(data).each(function () {
                            var str = '<option value="' + this.PriceRankId + '">' + this.PriceRankName + '</option>';
                            $("#PriceRank").append(str);
                        });
                    }
                });
            }


            //下拉框发生改变触发的事件
            form.on('select(PriceRank)', function (data) {
                var priceRankId = data.value;
                var classModelId = $("#ClassModel").val();
                var stID = $("#Study").val();
                var hourTypeId = $("#HourType").val();
                $.ajax({
                    url: "http://localhost:50111/api/GetPricing?priceRankId=" + priceRankId + "&classModelId=" + classModelId + "&stID=" + stID + "&hourTypeId=" + hourTypeId,
                    contentType: "application/json",
                    type: "get",
                    dataType: "json",
                    async: false,
                    success: function (d) {
                        $("#PricingPrice").val(d.PricingPrice);
                        $("#PricingId").val(d.PricingId);
                    }
                });
            });
            form.on('select(ClassModel)', function (data) {
                var priceRankId = $("#PriceRank").val();
                var classModelId = data.value;
                var stID = $("#Study").val();
                var hourTypeId = $("#HourType").val();
                $.ajax({
                    url: "http://localhost:50111/api/GetPricing?priceRankId=" + priceRankId + "&classModelId=" + classModelId + "&stID=" + stID + "&hourTypeId=" + hourTypeId,
                    contentType: "application/json",
                    type: "get",
                    dataType: "json",
                    async: false,
                    success: function (d) {
                        $("#PricingPrice").val(d.PricingPrice);
                        $("#PricingId").val(d.PricingId);
                    }
                });
            });
            form.on('select(Study)', function (data) {
                var priceRankId = $("#PriceRank").val();
                var classModelId = $("#ClassModel").val();
                var stID = data.value;
                var hourTypeId = $("#HourType").val();
                $.ajax({
                    url: "http://localhost:50111/api/GetPricing?priceRankId=" + priceRankId + "&classModelId=" + classModelId + "&stID=" + stID + "&hourTypeId=" + hourTypeId,
                    contentType: "application/json",
                    type: "get",
                    dataType: "json",
                    async: false,
                    success: function (d) {
                        $("#PricingPrice").val(d.PricingPrice);
                        $("#PricingId").val(d.PricingId);
                    }
                });
            });
            form.on('select(HourType)', function (data) {

                var priceRankId = $("#PriceRank").val();
                var classModelId = $("#ClassModel").val();
                var stID = $("#Study").val();
                var hourTypeId = data.value;
                $.ajax({
                    url: "http://localhost:50111/api/GetPricing?priceRankId=" + priceRankId + "&classModelId=" + classModelId + "&stID=" + stID + "&hourTypeId=" + hourTypeId,
                    contentType: "application/json",
                    type: "get",
                    dataType: "json",
                    async: false,
                    success: function (d) {
                        $("#PricingPrice").val(d.PricingPrice);
                        $("#PricingId").val(d.PricingId);
                    }
                });
            });

            //课时数的改变事件(计算出商品总价)
            $("#PeriodNum").change(function () {
                var pricingPrice = $("#PricingPrice").val();
                var periodNum = $("#PeriodNum").val();
                $("#CommodityPrice").val(pricingPrice * periodNum);
            });



            //选择学员
            form.on('select(StudentKind)', function (data) {
                var studentKind = data.value;
                table.render({
                    elem: '#student'
                    , url: 'http://localhost:50111/api/GetStudent?studentKind=' + studentKind
                    , contentType: "application/json"
                    , method: 'get'
                    , title: '选择学员'
                    , cols: [[
                        { checkbox: true, fixed: true }
                        , { field: 'StudentId', title: '序号', width: 80 }
                        , { field: 'StudentName', title: '学员姓名', width: 100 }
                        , {
                            field: 'StudentSex', title: '性别', width: 80,
                            templet: function (data) {
                                if (data.StudentSex == 0) {
                                    return "女";
                                } else {
                                    return "男";
                                }

                            }
                        }
                        , { field: 'StudentIphone', title: '学员手机号', width: 170 }
                        , { field: 'StudyName', title: '年级', width: 80 }
                        , {
                            field: 'StudentKind', title: '学员状态', width: 100,
                            templet: function (data) {
                                if (data.StudentKind == 0) {
                                    return "意向学员";
                                } else if (data.StudentKind == 1) {
                                    return "成单学员";
                                }

                            }
                        }
                        , { field: 'OrganName', title: '机构', width: 100 }
                        , { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150 }
                    ]]
                });
            });
             // 监听行工具事件/成单
            table.on('tool(student)', function (obj) {
                var data = obj.data;
                //console.log(obj)
                if (obj.event === 'option') {
                    @* ajax反填数据 *@
                    $.ajax({
                        url: 'http://localhost:50111/api/GetStudentsById?id=' + data.StudentId,
                        contentType: "application/json",
                        type: 'get',
                        dataType: 'json',
                        success: function (d) {
                            form.val('example', {
                                "StudentId": d.StudentId            //学生主键
                                , "StudentIphone": d.StudentIphone  //学生账号
                                , "StudentName": d.StudentName    //学生姓名
                                , "RecursionId": d.Institution    //机构主键
                                , "OrganName": d.OrganName        //机构姓名
                                , "StudyName": d.StudyName        //年级的名称
                                , "StID": d.StID                   //年级主键
                            });
                        }
                    });
                }
            });

            //取消转回订单信息页面
            $("#cancel").on('click', function () {
                location.href = "/IndentM/Orderoperation";
            });
            //添加功能
            $("#submit").on('click', function () {
                //定义一个空的集合
                var AddOrder = {};
                AddOrder.StudentId = Number($("#StudentId").val());          //学生表主键
                AddOrder.BusinessTypeId = Number($("#BusinessType").val());     //业务类型表 主键
                AddOrder.ClassModelId = Number($("#ClassModel").val());      //班型表主键
                AddOrder.StID = Number($("#Study").val());              //学段表主键
                AddOrder.OrderAmount = Number($("#CommodityPrice").val());      //订单金额
                AddOrder.AmountPayable = Number($("#CommodityPrice").val());   //应付金额
                AddOrder.RecursionId = Number($("#RecursionId").val());      //机构表主键
                AddOrder.PriceRankId = Number($("#PriceRank").val());      //价格级别表主键
                AddOrder.HourTypeId = Number($("#HourType").val());    //课时类型表主键
                AddOrder.PricingId = Number($("#PricingId").val());     //定价管理表主键
                AddOrder.PeriodNum = Number($("#ComplimentaryPeriod").val());  //课时数
                AddOrder.ComplimentaryPeriod = Number($("#RecursionId").val()); //赠送课时
                AddOrder.CommodityPrice = Number($("#CommodityPrice").val());    //商品总价
                AddOrder.PreferentialPrice = Number($("#PreferentialPrice").val());  //优惠价
                AddOrder.OrdersRemark = $("#OrdersRemark").val();  //备注
                AddOrder.buyer =@ViewBag.Name;
                AddOrder.Amountcaually = Number(AddOrder.OrderAmount - AddOrder.PreferentialPrice);    //实付金额
                $.ajax({
                    url: 'http://localhost:50111/api/AddOrders',
                    contentType: "application/json:charset=UTF-8",
                    type: 'post',
                    data: JSON.stringify(AddOrder),
                    async: false,
                    success: function (d) {
                        if (d > 0) {
                            alert('下单成功')
                            location.href = "/IndentM/Orderoperation";
                        }
                        else {
                            alert('下单失败')
                        }
                    }
                });
                return false;
            });



    });
    </script>
</body>
</html>
