
@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/layui/css/layui.css" rel="stylesheet" />
<script src="~/layui/layui.js"></script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RefundOrderShow</title>
</head>
<body>
    <table class="layui-hide" id="test" lay-filter="test"></table>
    <script>
        layui.use(['form', 'layer', 'table'], function () {
            var form = layui.form
                , layer = layui.layer
                , table = layui.table;

            //方法级渲染
            table.render({
                elem: '#test'
                , url: 'http://localhost:50111/api/GetRefund'
                , contentType: "application/json"
                , method: 'get'
                , cols: [[
                    { checkbox: true, fixed: true }
                    , { field: 'OrderNO', title: '退款编号', width: 100, sort: true, fixed: true }
                    , { field: 'OrderNO', title: '订单编号', width: 100 }
                    , { field: 'StudentIphone', title: '学生账号', width: 100 }
                    , { field: 'StudentName', title: '学生姓名', width: 80 }
                    , { field: 'OrderAmount', title: '订单金额', width: 90 }
                    , { field: 'AmountActually', title: '实付金额', width: 90 }
                    , { field: 'RefundAmount', title: '申请退款金额', width: 115 }
                    , { field: 'RefundAmount', title: '审核退款金额', width: 115 }
                    , { field: 'Refundperson', title: '申请人', width: 100 }
                    , { field: 'RefundTime', title: '申请退款时间', width: 115 }
                    , {
                        field: 'RefundState', title: '退款状态', width: 100,
                        templet: function (data) {
                            if (data.RefundState == 0) {
                                return "待审核";
                            } else if (data.RefundState == 1) {
                                return "审核拒绝";
                            } else if (data.RefundState == 2) {
                                return "审核通过";
                            }
                        }
                    }
                    , { field: 'ConsumerName', title: '审核人', width: 80 }
                    , { field: 'AuditDateTime', title: '审核时间', width: 100 }
                    , { field: 'OrganName', title: '所属机构', width: 100 }
                ]]
                , id: 'testReload'
                , page: true
            });

            $('.demoTable .layui-btn').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });
        });
    </script>
</body>
</html>
