
@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/layui/css/layui.css" rel="stylesheet" />
<script src="~/layui/layui.js"></script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RefundOrderShow</title>
</head>
<body>

     <form class="layui-form" action="" lay-filter="example">
        <div class="layui-form-item" style="float:left">
            <div class="layui-input">
                <input type="text" name="StudentIphone" id="StudentIphone"  placeholder="学生账号" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div style="float:left">
            <div class="layui-input">
                <input type="text" name="StudentName" id="StudentName"  placeholder="学生姓名" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div style="float:left">
            <div class="layui-input">
                <input type="text" name="Refundperson" id="Refundperson"  placeholder="申请人" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div  style="float:left">@*退款状态*@
            <div class="layui-input">
                <select name="RefundState" id="RefundState" lay-filter="aihao">
                    <option value="-1">退款状态</option>
                    <option value="1">未退款</option>
                    <option value="2">部分退款</option>
                    <option value="3">全部退款</option>
                </select>
            </div>
        </div>
        <div style="float:left">@*机构*@
            <div class="layui-input">
                <select name="Organ" id="Organ" lay-filter="aihao">
                    <option value=""></option>
                </select>
            </div>
        </div>
          <div  style="float:left">
            <div class="layui-input-inline">
                <input type="text" class="layui-input" id="RefundTime" placeholder=" 申请退款时间">
            </div>
        </div>
        <div style="float:left">
            <div class="layui-input">
                <button type="button" class="layui-btn layui-btn-normal" id="searching" lay-filter="demo1">检索</button>
            </div>
        </div>
    </form>
     <form class="layui-form" action="" lay-filter="example">
        <div class="layui-form-item">
        </div>
    </form>

    @*数据表格*@
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="look">查看</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="reimburse">审核</a>
    </script>
    <table class="layui-hide" id="test" lay-filter="test"></table>
    <script>
        layui.use(['form', 'layer', 'table','laydate'], function () {
            var form = layui.form
                , layer = layui.layer
                , table = layui.table
                , laydate = layui.laydate;

           
            Organ();
            //绑定机构
            function Organ() {
                var $ = layui.$;
                $.ajax({
                    url: "http://localhost:50111/api/GetOrgane",
                    contentType: "application/json",
                    type: "get",
                    dataType: "json",
                    success: function (data) {
                        $("#Organ").empty();
                        $("#Organ").append("<option value='-1'>所属机构</option>");
                        $(data).each(function () {
                            var str = '<option value="' + this.OrganId + '">' + this.OrganName + '</option>';
                            $("#Organ").append(str);
                        });
                        layui.form.render("select");
                    }
                });
            }

            //方法级渲染
            table.render({
                elem: '#test'
                , url: 'http://localhost:50111/api/GetRefund'
                , contentType: "application/json"
                , method: 'get'
                , cols: [[
                    { checkbox: true, fixed: true }
                    , { field: 'RefundId', title: 'ID', width: 50}
                    , { field: 'OrderNO', title: '订单编号', width: 170 }
                    , { field: 'StudentIphone', title: '学生账号', width: 150 }
                    , { field: 'StudentName', title: '学生姓名', width: 100 }
                    , { field: 'OrderAmount', title: '订单金额', width: 100 }
                    , { field: 'AmountActually', title: '实付金额', width: 100 }
                    , { field: 'RefundAmount', title: '申请退款金额', width: 120 }
                    , { field: 'RefundAmount', title: '审核退款金额', width: 120 }
                    , { field: 'Refundperson', title: '申请人', width: 100 }
                    , {
                        field: 'Verifier', title: '审核人', width: 100,
                        templet: function (data) {
                            if (data.Verifier == "") {
                                return "未审核";
                            }
                            else {
                                return data.Verifier;
                            }
                        }
                    }
                    , {
                        field: 'RefundTime', title: '申请退款时间', width: 120,
                        templet: "<div>{{layui.util.toDateString(d.RefundTime, 'yyyy-MM-dd')}}</div> "
                    }
                    , {
                        field: 'RefundState', title: '退款状态', width: 100,
                        templet: function (data) {
                            if (data.RefundState == 0) {
                                return "未退款";
                            } else if (data.RefundState == 1) {
                                return "部分退款";
                            } else if (data.RefundState == 2) {
                                return "全部退款";
                            }
                        }
                    }
                    , { field: 'OrganName', title: '所属机构', width: 100 }
                    , { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 185 }
                ]]
                , id: 'testReload'
                , page: true
            });

            //监听行工具事件
            table.on('tool(test)', function (obj) {
                var data = obj.data;
                //console.log(obj)
                if (obj.event === 'look') {
                    location.href = "/IndentM/DetailsSelrefundOrder/" + data.RefundId;
                }
                else if (obj.event === 'reimburse') {
                    location.href = "/IndentM/RefundOrderAudit/" + data.RefundId;
                } 
            });



            //日期时间范围
            laydate.render({
                elem: '#RefundTime'
                , type: 'datetime'
                , range: true
            });

            var $ = layui.$;
            //检索
            $("#searching").on('click', function () {
                table.reload('testReload', {
                    where: {
                        studentIphone: $("#StudentIphone").val(),
                        studentName: $("#StudentName").val(),
                        refundperson: $("#Refundperson").val(),  //申请人
                        refundState: $("#RefundState").val(),
                        recursionId: $("#Organ").val(),   //所属机构
                        refundTime: $("#RefundTime").val()
                    }
                });
                return false;
            });




        });
    </script>
</body>
</html>
