
@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/layui/css/layui.css" rel="stylesheet" />
<script src="~/layui/layui.js"></script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SelectStudent</title>
</head>
<body>
    <table class="layui-hide" id="test" lay-filter="test"></table>

    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="choose">选择</a>
    </script>

    <input type="hidden" id="value" value="" />
    <script>
        layui.use('table', function () {
            var table = layui.table;

            var arr = location.href.split('/');
            var id = arr[arr.length - 1];

            table.render({
                elem: '#test'
                , url: 'http://localhost:50111/api/GetStudent?studentKind=' + id 
                , contentType: "application/json"
                , method: 'get'
                , title: '选择学员'
                , cols: [[
                        { checkbox: true, fixed: true }
                    , { field: 'StudentId', title: '序号', width: 100,sort: true }
                    , { field: 'StudentName', title: '学员姓名', width: 100 }
                    , {
                        field: 'StudentSex', title: '性别', width: 100,
                        templet: function (data) {
                            if (data.StudentSex == 0) {
                                return "女";
                            } else {
                                return "男";
                            }

                        }
                    }
                    , { field: 'StudentIphone', title: '学员手机号', width: 100 }
                    , { field: 'StudyName', title: '年级', width: 100 }
                    , {
                        field: 'StudentKind', title: '学员状态', width: 100,
                        templet: function (data) {
                            if (data.StudentKind == 0) {
                                return "意向学员";
                            } else if (data.StudentKind == 1) {
                                return "成单学员";
                            }

                        }
                    }
                    , { field: 'OrganName', title: '机构', width: 100, sort: true }
                    , { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150 }
                ]]
            });

            //监听行工具事件
            table.on('tool(test)', function (obj) {
                var data = obj.data;
                //console.log(obj)
                if (obj.event === 'choose') {
                    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                    location.href = "/IndentM/AddOrders/" + data.StudentId;
                    parent.layer.close(index); //再执行关闭
                }
            });
            

 
            
        });
    </script>

</body>
</html>
