
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui/layui.js"></script>
    <title>AddOrganes</title>
</head>
<body>

</body>
</html>
<form class="layui-form" action="" lay-filter="example" , enctype="multipart/form-data">
    <div class="layui-form-item">
        <label class="layui-form-label">机构名称</label>
        <div class="layui-input-block">
            <input type="text" style="width:180px" name="OrganName" id="OrganName" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">机构编码</label>
        <div class="layui-input-block">
            <input type="text" style="width:180px" name="OrganEncod" id="OrganEncod" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">上级机构</label>
        <div class="layui-input-inline">
            <select id="OrganIds" name="PId" class="layui-select-group">
                <option value="">请选择</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">机构类型</label>
        <div class="layui-input-inline">
            <select id="InstitutionalIds" name="InstitutionalId" class="layui-select-group">
                <option value="">请选择</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">联系人</label>
        <div class="layui-input-block">
            <input type="text" style="width:180px" name="OrganPhoneName" id="OrganPhoneName" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">联系电话</label>
        <div class="layui-input-block">
            <input type="text" style="width:180px" name="OrganPhone" id="OrganPhone" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div>
        <label class="layui-form-label">地址</label>
        <div class="layui-input-inline" style="margin-left:110px">
            <select name="sheng" id="sheng" lay-filter="sheng">
                <option value="0">省</option>
            </select>
        </div>
        <div class="layui-input-inline">
            <select name="shi" id="shi" lay-filter="shi">
                <option value="0">市</option>
            </select>
        </div>
        <div class="layui-input-inline">
            <select name="qu" id="qu" lay-filter="qu">
                <option value="0">区</option>
            </select>
        </div>
    </div>
    
    <label class="layui-form-label">具体地址</label>
    <div class="layui-input-block">
        <input type="text" style="width:180px" name="OrganAddress" id="OrganAddress" lay-verify="required" autocomplete="off" class="layui-input">
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <input type="text" style="width:180px" name="OrganRemark" id="OrganRemark" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" id="login" lay-submit="" onclick="location.href='/Institution/OrganizationShow'">取消</button>
            <button type="button" class="layui-btn" id="btn">保存</button>
        </div>
    </div>
</form>
<script>
    //绑定上级机构
    layui.use(['form', 'layer', 'table'], function () {
        GetOrganName();
        GetInstitutionalMods();
        Sheng();
    });
    function GetOrganName() {
        var $ = layui.$;
        $.ajax({
            url: 'http://localhost:50111/api/GetOrganName',
            type: "get",
            dataType: 'json',
            success: function (data) {
                $(data).each(function () {
                    var str = '<option value="' + this.OrganId + '">' + this.OrganName + "</option>";
                    $("#OrganIds").append(str);
                });
                layui.form.render("select");
            }
        });
    }
    //绑定机构类型
    function GetInstitutionalMods() {
        var $ = layui.$;
        $.ajax({
            url: 'http://localhost:50111/api/GetInstitutionalMods',
            type: "get",
            dataType: 'json',
            success: function (data) {
                $(data).each(function () {
                    var str = '<option value="' + this.InstitutionalId + '">' + this.InstitutionalName + "</option>";
                    $("#InstitutionalIds").append(str);
                });
                layui.form.render("select");
            }
        });
    }
    //省
    function Sheng() {
        var $ = layui.jquery;
        var form = layui.form;
        $.ajax({
            url: "http://localhost:50111/api/Dizhi?id=0",
            type: "get",
            contentType: "application/json",
            success: function (data) {
                var str = "";
                $(data).each(function () {
                    str += "<option value='" + this.siID + "'>" + this.sitesName + "</option>";
                })
                $("#sheng").append(str);
                form.render("select");
            }
        })
    }
</script>
<script>
    layui.use(['form', 'upload', 'layer', 'table'], function () {
        var form = layui.form
            , layer = layui.layer
            , upload = layui.upload;
        var $ = layui.$;
        //监听提交
        $('#btn').on('click', function () {
            var obj = {};
            obj.OrganName = $("#OrganName").val();
            $.ajax({
                url: 'http://localhost:50111/api/GetOrganMods?OName=' + OrganName,
                type: "get",
                dataType: 'json',
                async: false,
                success: function (d) {
                    if (d.length == 0) {
                        alert("机构名称不能重复");
                    }
                    layui.form.render("select");
                }
            });
            obj.OrganEncod = $("#OrganEncod").val();
            obj.PId = Number($("#OrganIds").val());
            obj.InstitutionalId = Number($("#InstitutionalIds").val());
            obj.OrganPhoneName = $("#OrganPhoneName").val();
            obj.OrganPhone = $("#OrganPhone").val();
            obj.OrganRemark = $("#OrganRemark").val();
            obj.OrganAddress = $("#OrganAddress").val();
            obj.ProvinceId = Number($("#sheng").val());
            obj.City = Number($("#shi").val());
            obj.District = Number($("#qu").val());
            //console.log(obj);
            $.ajax({
                url: "http://localhost:50111/api/AddOrganes",
                type: "post",
                contentType: 'application/json',
                data: JSON.stringify(obj),
                success:
                    function (d) {
                        if (d > 0) {
                            alert("添加成功");
                            location.href = '/Institution/OrganizationShow';
                        }
                        else {
                            layer.alert("添加失败");
                        }
                    }
            });
        });
        //市
        form.on('select(sheng)', function (data) {
            var $ = layui.jquery;
            var form = layui.form;
            $("#shi").empty();
            $("#shi").append("<option value='0'>市</option>");
            $("#qu").empty();
            form.render("select");
            $("#qu").append("<option value='0'>区</option>");
            if ($("#sheng").val() != 0) {
                $.ajax({
                    url: "http://localhost:50111/api/Dizhi?id=" + $("#sheng").val(),
                    type: "get",
                    contentType: "application/json",
                    success: function (data) {
                        var str = "";
                        $(data).each(function () {
                            str += "<option value='" + this.siID + "'>" + this.sitesName + "</option>";
                        })
                        $("#shi").append(str);
                        form.render("select");
                    }
                })
            }
        })
        //区
        form.on('select(shi)', function (data) {
            var $ = layui.jquery;
            var form = layui.form;
            $("#qu").empty();
            form.render("select");
            $("#qu").append("<option value='0'>区</option>");
            if ($("#shi").val() != 0) {
                $.ajax({
                    url: "http://localhost:50111/api/Dizhi?id=" + $("#shi").val(),
                    type: "get",
                    contentType: "application/json",
                    success: function (data) {
                        var str = "";
                        $(data).each(function () {
                            str += "<option value='" + this.siID + "'>" + this.sitesName + "</option>";
                        })
                        $("#qu").append(str);
                        form.render("select");
                    }
                })
            }

        })
    });

</script>