
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui/layui.js"></script>
    <title>班级管理显示</title>
</head>
<body>
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">班级名称：</label>
            <div class="layui-input-inline" >
                <input type="text" style="margin-left:00px;margin-top:0px" name="roomname" id="roomname" lay-verify="title" autocomplete="off" placeholder="请输入班级名称" class="layui-input">
            </div>
            <label class="layui-form-label">科目名称</label>
            <div class="layui-input-inline">
                <select id="sub" name="sub" class="layui-select-group">
                    <option value="0">请选择</option>
                    <option value="1">语文</option>
                    <option value="2">数学</option>
                    <option value="3">英语</option>
                    <option value="4">地理</option>
                    <option value="5">化学</option>
                    <option value="6">物理</option>
                </select>
            </div>
            <label class="layui-form-label">年级名称</label>
            <div class="layui-input-inline">
                <select id="stid" name="stid" class="layui-select-group">
                    <option value="0">请选择</option>
                </select>
            </div>
            <label class="layui-form-label">机构名称</label>
            <div class="layui-input-inline">
                <select id="jigou" name="jigou" class="layui-select-group">
                    <option value="0">请选择</option>
                </select>
            </div>
        </div>
        <div>
            <div class="layui-inline">
                <label class="layui-form-label">创建日期</label>
                <div class="layui-input-inline">
                    <input type="date" name="HourBeginTime" id="HourBeginTime" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <input type="date" name="HourEngTime" id="HourEngTime" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" data-type="reload" id="Sel">搜索</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    <button type="button" class="layui-btn layui-btn-radius" onclick="location.href='/InstitutionM/AddClassRooms'" id="Button1">添加班级</button>
                    <button type="button" class="layui-btn layui-btn-radius" onclick="location.href='/InstitutionM/GetHourTableMods'" id="Button1">课时包管理</button>
                </div>
            </div>
        </div>      
        <div class="layui-m-anim-right">
            <table class="layui-hide" id="demo" lay-filter="demo"></table>
        </div>
    </form>  
    <script type="text/html" id="lineBtns">
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="qy">学员</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="upt">修改</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
</body>
</html>
<script>
    layui.use(['form', 'util', 'upload', 'layer', 'table'], function () {
        var table = layui.table,
            upload = layui.upload,//使用LayUI上传组件
            excel = layui.excel,
            form = layui.form,
            util = layui.util;
        //第一个实例
        table.render({
            elem: '#demo'
            , height: 312
            , url: 'http://localhost:50111/api/GetClassRooms' //数据接口
            , cols: [[ //表头
                { field: 'ClassRoomId', title: '序号', sort: true, fixed: 'left' }
                , { field: 'ClassRoomName', title: '班级名称' }
                , { field: 'StudyName', title: '年级' }
                , { field: 'SubjectsName', title: '科目'}
                , { field: 'TextbookName', title: '版本' }
                , { field: 'SemesterName', title: '学期' }
                , { field: 'TeacherName', title: '任课教师' }
                , { field: 'HourName', title: '课时包' }
                , { field: 'HourBeginTime', title: '开始时间', templet: "<div>{{layui.util.toDateString(d.HourBeginTime, 'yyyy-MM-dd')}}</div>"  }
                , { field: 'HourEngTime', title: '结束时间', templet: "<div>{{layui.util.toDateString(d.HourEngTime, 'yyyy-MM-dd')}}</div>" }
                , { field: 'OrganName', title: '机构' }
                , { fixed: 'right', title: '操作', toolbar: '#lineBtns', width: 200 }
            ]]
            , page: true
                , limits: [1, 2, 3, 10]//每页条数可选项
                , limit: 10 //每页条数
                , request: {
                    pageName: 'pageIndex',//控制器 显示方法 当前页数参数
                    limitName: 'pageSize' //控制器 显示方法 每页条数参数
                }
            , id: 'testReload'
            //查询
        });
        var $ = layui.jquery; 
         Nian();
         GetSubjects();
        $("#Sel").on('click', function () {
            table.reload('testReload', {
                page: {
                    curr: 1 //重新从第 1 页开始
                }
                , where: {
                    roomname: $("#roomname").val(),
                    sub:$("#sub").val(),
                    stid:$("#stid").val(),
                    HourBeginTime:$("#HourBeginTime").val(),
                    HourEngTime:$("#HourEngTime").val(),
                    jigou:$("#jigou").val(),
                }
            });
            return false;
        })
         var $ = layui.jquery;
         //年级下拉
        function Nian() {
            var form = layui.form;
            $.ajax({
                url: "http://localhost:50111/api/GetRoomStudys",
                type: "get",
                contentType: "application/json",
                success: function (data) {
                    var str = "";
                    $(data).each(function () {
                        str += "<option value='" + this.stID + "'>" + this.studyName + "</option>";
                    })
                    $("#stid").append(str);
                    form.render("select");
                }
            })
        }
        var $ = layui.jquery;
         //机构下拉
        function Nian() {
            var form = layui.form;
            $.ajax({
                url: "http://localhost:50111/api/GetOrganMod",
                type: "get",
                contentType: "application/json",
                success: function (data) {
                    var str = "";
                    $(data).each(function () {
                        str += "<option value='" + this.organId + "'>" + this.organName + "</option>";
                    })
                    $("#jigou").append(str);
                    form.render("select");
                }
            })
        }
        var $ = layui.jquery;
        //绑定科目
        function GetSubjects() {
            var $ = layui.$;
            $.ajax({
                url: 'http://localhost:50111/api/GetSubjects',
                type: "get",
                async: false,
                dataType: 'json',
                success: function (data) {
                    $(data).each(function () {
                        var str = '<option value="' + this.subjectsId + '">' + this.subjectsName + "</option>";
                        $("#SubjectsId").append(str);
                    });
                    layui.form.render("select");
                }
            });
        }
        var $ = layui.jquery;
        table.on('tool(demo)', function (obj) {
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            if (layEvent == 'del') { //删除
                layer.confirm('确定删除吗？', { title: '删除' }, function (index) {
                    //向服务端发送删除指令og
                    $.ajax({
                        url: "http://localhost:50111/api/DeleteClassRoomMod?ids=" + data.ClassRoomId,
                        type: "post",
                        success: function (d) {
                            if (d > 0) {
                                layer.msg('删除成功', { icon: 1, time: 1500 }, function () {
                                    layer.close(index);//关闭弹窗
                                    table.reload('testReload', {//重载表格
                                    });

                                });
                            }
                            else {
                                layer.msg('删除失败', { icon: 1, time: 1500 }, function () {
                                    layer.close(index);//关闭弹窗
                                });
                            }
                        }
                    });
                    layer.close(index);//关闭弹窗
                });
            }
            else if (layEvent == 'upt') {
                location.href = "/InstitutionM/ModifyClassRoomMod?id=" + data.ClassRoomId;
            }
        });
    });
</script>