
@{
    ViewData["Title"] = "GetOrganMods";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h4>机构管理</h4>
<div  style="width: 500px; height: 50px;">
</div>
<div>
    <div style="float:left">
        <div id="test9" style="width: 150px; height: 200px; overflow: scroll;" class="demo-tree demo-tree-box"></div>
    </div>
    <div style="float:left">
        <table class="layui-hide" id="demo" lay-filter="demo"></table>
    </div>
</div>
<script>
    layui.use(['tree', 'util'], function () {
        var tree = layui.tree
            , layer = layui.layer
            , util = layui.util;
        var $ = layui.$;

        var trees;
        $.ajax({
            url: "http://localhost:50111/api/InstitutionM/GetLists/api/GetLists",
            type: "get",
            async: false,
            success:
                function (d) {
                    trees = d;
                }
        })
        //基本演示
        tree.render({
            elem: '#test9'
            , data: trees
            , id: 'demoId1'
            , isJump: true //是否允许点击节点时弹出新窗口跳转
            , click: function (obj) {
                var data = obj.data;  //获取当前点击的节点数据
                layer.msg('状态：' + obj.state + '<br>节点数据：' + JSON.stringify(data));
            }
        });
        ////节点操作图标
        //tree.render({
        //    elem: '#test9'
        //    , data: trees
        //    , click: function (obj) {
        //        layer.msg(JSON.stringify(obj.data));
        //    }
        //});
    });
</script>
<script>
    layui.use(['form', 'util', 'upload', 'layer', 'table'], function () {
        var table = layui.table,
            upload = layui.upload,//使用LayUI上传组件
            excel = layui.excel,
            form = layui.form,
            util = layui.util;
        //layui.util.toDateString(new Date(json.time).getTime(), "yyyy-MM-dd HH:mm:ss");
        //第一个实例
        table.render({
            elem: '#demo'
            , height: 312
            , url: 'http://localhost:50111/api/InstitutionM/GetOrganMods/api/GetOrganMods' //数据接口
            , contentType: "application/json" //跨域
            , method: 'get'
            , cols: [[ //表头
                //{ field: 'OrganId', title: '编号', width: 80, sort: true, fixed: 'left' }
                { field: 'OrganEncod', title: '机构编码', width: 80 }
                , { field: 'OrganName', title: '机构名称', width: 80 }
                , { field: 'PId', title: '上级机构', width: 80 }
                , { field: 'PriceRankId', title: '价格级别', width: 80 }
                , { field: 'OrganStatus', title: '状态', width: 80 }
                , { field: 'OrganBeginTime', title: '创建时间', width: 80 }
            ]]
            , id: 'testReload'
        });
    });
</script>
