
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui/layui.js"></script>
    <title>课时包编辑</title>
</head>
<body>
    
</body>
</html>
<form class="layui-form" action="" lay-filter="example" , enctype="multipart/form-data">
    <div class="layui-form-item">
        <label class="layui-form-label">课时包编号</label>
        <div class="layui-input-block">
            <input type="text" style="width:180px" readonly="readonly" name="HourId" id="HourId" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">课时包</label>
        <div class="layui-input-block">
            <input type="text" style="width:180px"  name="HourName" id="HourName" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    
    <div class="layui-form-item">
        <label class="layui-form-label">开始时间</label>
        <div class="layui-input-block">
            <input type="date" style="width:180px" name="BeginTime" id="BeginTime" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">结束时间</label>
        <div class="layui-input-block">
            <input type="date" style="width:180px" name="EngTime" id="EngTime" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" id="login" lay-submit="" onclick="location.href='/InstitutionM/ClassManagementShow'">取消</button>
            <button type="button" class="layui-btn" id="btn">保存</button>
        </div>
    </div>
</form>
<script>
    ////绑定下拉
    //layui.use(['form', 'layer', 'table'], function () {
    //    var $ = layui.$;
    //    GetHourId();
    //});
    //var $ = layui.$;
    ////绑定课时包下拉
    //function GetHourId() {
    //    var $ = layui.$;
    //    $.ajax({
    //        url: '@ViewBag.Str/api/HourTableMods',
    //        type: "get",
    //        async: false,
    //        dataType: 'json',
    //        success: function (d) {
    //            $(d).each(function () {
    //                var str = '<option value="' + this.hourId + '">' + this.hourName + "</option>";
    //                $("#HourId").append(str);
    //            });
    //            layui.form.render("select");
    //        }
    //    });
    //}
</script>
<script>
    layui.use(['form', 'upload', 'layer', 'table'], function () {
        var form = layui.form
            , layer = layui.layer
            , upload = layui.upload;
        var $ = layui.$;
        $.ajax({
            url: "@ViewBag.Str/api/ModifyIdHourTableMods?id=" + @ViewBag.ids,
            type: "get",
            contentType: 'application/json',
            async: false,
            dataType: "json",
            success:
                function (d) {
                    form.val('example', {
                        "HourId": d.hourId
                        ,"HourName": d.hourName
                        , "BeginTime": d.beginTime
                        , "EngTime": d.engTime
                    });
                }
        });
        var $ = layui.$;
        //监听提交
        $('#btn').on('click', function () {
            var obj = {};
            obj.hourId = Number($("#HourId").val());
            obj.hourName = Number($("#HourName").val());
            obj.beginTime = $("#BeginTime").val();
            obj.engTime = $("#EngTime").val();
            //console.log(obj);
            $.ajax({
                url: "@ViewBag.Str/api/ModifyHourTableMods",
                type: "post",
                async: false,
                contentType: 'application/json',
                data: JSON.stringify(obj),
                success:
                    function (d) {
                        if (d > 0) {
                            layer.msg("修改成功", { icon: 0, time: 1500 });
                            location.href = '/InstitutionM/GetHourTableMods';
                        }
                        else {
                            layer.msg("修改失败", { icon: 0, time: 1500 });
                        }
                    }
            });
        });
    });
</script>