
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui/layui.js"></script>
    <title>机构管理显示</title>
</head>
<body>
    <form class="layui-form" action="">
        <div>
            <div class="layui-form-item">                
                <div class="layui-input-inline">
                    <label class="layui-form-label">机构名称</label>
                    <input type="text" style="margin-left:00px;margin-top:0px" name="name" id="name" lay-verify="title" autocomplete="off" placeholder="请输入机构名称" class="layui-input">
                </div>
                <div class="layui-input-block">
                    <button class="layui-btn" data-type="reload" id="Sel">搜索</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    <button type="button" class="layui-btn" onclick="location.href='/InstitutionM/AddOrganes'" id="Button1">添加机构</button>
                </div>
            </div>
            <div>
                <div style="float:left">
                    <div class="layui-m-anim-left">
                        <div id="test9" class="demo-tree-more"></div>
                    </div>
                </div>
                <div style="float:left">
                    <div class="layui-form layui-border-box layui-table-view">
                        <table class="layui-hide" id="demo" lay-filter="demo"></table>
                    </div>
                </div>
            </div>            
        </div>        
    </form>
        <script type="text/html" id="lineBtns">
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="upt">编辑</a>
        </script>
        <script type="text/html" id="switchTpl">
            <!-- 这里的 checked 的状态只是演示 -->
            <input type="checkbox" name="OrganStatus" value="{{d.OrganId}}" lay-skin="switch" lay-text="已启用|已禁用" lay-filter="sexDemo" {{ d.OrganStatus == 0 ? 'checked' : '' }}>
        </script>
</body>
</html>
<script>
    layui.use(['form', 'util', 'upload', 'layer', 'table', 'tree'], function () {
        var table = layui.table,
            upload = layui.upload,//使用LayUI上传组件
            excel = layui.excel,
            form = layui.form,
            util = layui.util;
        var tree = layui.tree
            , layer = layui.layer
        var $ = layui.$;
        var trees;
        $.ajax({
            url: "@ViewBag.Str/api/GetLists",
            type: "get",
            async: false,
            success:
                function (d) {
                    trees = d;
                }
        })
        //layui.util.toDateString(new Date(json.time).getTime(), "yyyy-MM-dd HH:mm:ss");
        //第一个实例
        table.render({
            elem: '#demo'
            , url: '@ViewBag.Str/api/GetOrganMods' //数据接口
            , cellMinWidth: 230
            , cols: [[ //表头
                { field: 'OrganEncod', title: '机构编码' }
                , { field: 'OrganName', title: '机构名称'}
                , { field: 'aa', title: '上级机构' }
                , { field: 'PriceRankName', title: '价格级别'}
                , { field: 'OrganStatus', title: '用户状态', templet: '#switchTpl' }     
                , { field: 'OrganBeginTime', title: '创建时间', templet: "<div>{{layui.util.toDateString(d.OrganBeginTime, 'yyyy-MM-dd')}}</div>" }
                , { fixed: 'right', title: '操作', toolbar: '#lineBtns', width: 150 }                
            ]]
            , page: true
                , limits: [1, 2, 3, 10]//每页条数可选项
                , limit: 10 //每页条数
                , request: {
                    pageName: 'pageIndex',//控制器 显示方法 当前页数参数
                    limitName: 'pageSize' //控制器 显示方法 每页条数参数
                }
            , id: 'testReload'
        });
        //查询
        $("#Sel").on('click', function () {
            table.reload('testReload', {
                page: {
                    curr: 1 //重新从第 1 页开始
                }
                , where: {
                    name: $("#name").val(),
                }
            },'data');
            return false;
        })
        //开启节点操作图标
        tree.render({
            elem: '#test9'
            , data: trees
            , click: function (obj) {            
                table.reload('testReload', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {                      
                        OrganId:obj.data.organId,
                  
                    }
                }, 'data');
                $.ajax({
                    url: "@ViewBag.Str/api/GetOrganMods?OrganId=" + obj.data.organId,
                    type: "get",
                    contentType: "application/json",
                    success: function (d) {
                        table.reload('testReload', {
                            data: d,
                        })
                      
                    }
                })
                return false;

            }
        });
        //监听状态操作
        form.on('switch(sexDemo)', function (obj) {
            layer.tips(this.value + ' ' + this.name + ':' + obj.elem.checked, obj.othis);
            var val;
            if (obj.elem.checked) {
                val = 0;
            }
            else {
                val = 1;
            }
            $.ajax({
                url: "@ViewBag.Str/api/ModiyStates?status=" + val + "&orgid=" + this.value,
                type: "post",
                contentType: "application/json",
            })
        });
        var $ = layui.$;
        table.on('tool(demo)', function (obj) {
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            if (layEvent == 'upt') {
                location.href = "/InstitutionM/UpdateOrganes?orgid=" + data.OrganId;
            }
        });
    });
</script>