
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui/layui.js"></script>
    <title>UpdateOrganes</title>
</head>
<body>
    <form class="layui-form" action="" lay-filter="example" , enctype="multipart/form-data">
        <div class="layui-form-item">
            <label class="layui-form-label">编号</label>
            <div class="layui-input-block">
                <input type="text" style="width:180px" readonly="readonly" name="OrganId" id="OrganId" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">机构名称</label>
            <div class="layui-input-block">
                <input type="text" style="width:180px" name="OrganName" id="OrganName" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">机构编码</label>
            <div class="layui-input-block">
                <input type="text" style="width:180px" name="OrganEncod" id="OrganEncod" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">上级机构</label>
            <div class="layui-input-inline">
                <select id="PId" name="PId" class="layui-select-group">
                    <option value="">请选择</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">机构类型</label>
            <div class="layui-input-inline">
                <select id="InstitutionalId" name="InstitutionalId" class="layui-select-group">
                    <option value="">请选择</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">联系人</label>
            <div class="layui-input-block">
                <input type="text" style="width:180px" name="OrganPhoneName" id="OrganPhoneName" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">联系电话</label>
            <div class="layui-input-block">
                <input type="text" style="width:180px" name="OrganPhone" id="OrganPhone" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div>
            <label class="layui-form-label">地址</label>
            <div class="layui-input-inline" style="margin-left:110px">
                <select name="ProvinceId" id="sheng" lay-filter="sheng">
                    <option value="0">省</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <select name="City" id="shi" lay-filter="shi">
                    <option value="0">市</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <select name="District" id="qu" lay-filter="qu">
                    <option value="0">区</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">具体地址</label>
            <div class="layui-input-block">
                <input type="text" style="width:180px" name="OrganAddress" id="OrganAddress" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <input type="text" style="width:180px" name="OrganRemark" id="OrganRemark" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" id="login" lay-submit="" onclick="location.href='/Institution/OrganizationShow'">取消</button>
                <button type="button" class="layui-btn" id="btn">保存</button>
            </div>
        </div>
    </form>
</body>
</html>
<script>

    function GetOrganName() {
        var $ = layui.$;
        $.ajax({
            url: 'http://localhost:50111/api/GetOrganName',
            type: "get",
            async: false,
            dataType: 'json',
            success: function (data) {
                $(data).each(function () {
                    var str = '<option value="' + this.OrganId + '">' + this.OrganName + "</option>";
                    $("#PId").append(str);
                });
                layui.form.render("select");
            }
        });
    }
    //绑定机构类型
    function GetInstitutionalMods() {
        var $ = layui.$;
        $.ajax({
            url: 'http://localhost:50111/api/GetInstitutionalMods',
            type: "get",
            async: false,
            dataType: 'json',
            success: function (data) {
                $(data).each(function () {
                    var str = '<option value="' + this.InstitutionalId + '">' + this.InstitutionalName + "</option>";
                    $("#InstitutionalId").append(str);
                });
                layui.form.render("select");
            }
        });
    }
    //省
    function Sheng() {
        var $ = layui.jquery;
        var form = layui.form;
        $.ajax({
            url: "http://localhost:50111/api/Dizhi?id=0",
            type: "get",
            async: false,
            contentType: "application/json",
            success: function (data) {
                var str = "";
                $(data).each(function () {
                    str += "<option value='" + this.siID + "'>" + this.sitesName + "</option>";
                })
                $("#sheng").append(str);
                form.render("select");
            }
        })
    }
   
    layui.use(['form', 'upload', 'layer', 'table'], function () {
        var form = layui.form
            , layer = layui.layer
            , upload = layui.upload;
        GetOrganName();
        GetInstitutionalMods();
        Sheng();
      
        //市
        form.on('select(sheng)', function (data) {
            var $ = layui.jquery;
            $("#shi").empty();
            $("#shi").append("<option value='0'>市</option>");
            $("#qu").empty();
            form.render("select");
            $("#qu").append("<option value='0'>区</option>");
            if ($("#sheng").val() != 0) {
                $.ajax({
                    url: "http://localhost:50111/api/Dizhi?id=" + $("#sheng").val(),
                    type: "get",
                    async: false,
                    contentType: "application/json",
                    success: function (data) {
                        var str = "";
                        $(data).each(function () {
                            str += "<option value='" + this.siID + "'>" + this.sitesName + "</option>";
                        })
                        $("#shi").append(str);
                        form.render("select");
                    }
                })
            }
        })
        //区
        form.on('select(shi)', function (data) {
            var $ = layui.jquery;
            $("#qu").empty();
            form.render("select");
            $("#qu").append("<option value='0'>区</option>");
            if ($("#shi").val() != 0) {
                $.ajax({
                    url: "http://localhost:50111/api/Dizhi?id=" + $("#shi").val(),
                    type: "get",
                    async: false,
                    contentType: "application/json",
                    success: function (data) {
                        var str = "";
                        $(data).each(function () {
                            str += "<option value='" + this.siID + "'>" + this.sitesName + "</option>";
                        })
                        $("#qu").append(str);
                        form.render("select");
                    }
                })
            }

        })
        var $ = layui.jquery;
        //监听提交
        //layer.alert(JSON.stringify(data.field);
        $.ajax({
            url: "http://localhost:50111/api/ModiyIdOrganes?orgid=" + @ViewBag.orgid,
            type: "get",
            contentType: 'application/json',
            async: false,
            dataType: "json",
            success:
                function (d) {
                    form.val('example', {
                         "OrganId": d.organId
                        ,"OrganName": d.organName
                        ,"OrganEncod":d.organEncod
                        ,"PId":d.pId
                        ,"InstitutionalId":d.institutionalId
                        ,"OrganPhoneName":d.organPhoneName
                        ,"OrganPhone":d.organPhone
                        ,"OrganRemark":d.organRemark
                        ,"OrganAddress":d.organAddress
                        ,"ProvinceId":d.provinceId
                        ,"City":d.city
                        ,"District":d.district
                    });
                }
        });
        var $ = layui.jquery;
        //监听提交
        $('#btn').on('click', function () {
            var obj = {};
            obj.organId = Number($("#OrganId").val());
            obj.organName =$("#OrganName").val();
            obj.organEncod = $("#OrganEncod").val();
            obj.pId = Number($("#PId").val());
            obj.InstitutionalId = Number($("#InstitutionalId").val());
            obj.organPhoneName = $("#OrganPhoneName").val();
            obj.organPhone = $("#OrganPhone").val();
            obj.organRemark = $("#OrganRemark").val();
            obj.organAddress = $("#OrganAddress").val();
            obj.provinceId = Number($("#sheng").val());
            obj.city = Number($("#shi").val());
            obj.district = Number($("#qu").val());
            //console.log(obj);
            $.ajax({
                url: "http://localhost:50111/api/ModiyOrganes",
                type: "post",
                async: false,
                contentType: 'application/json',
                data: JSON.stringify(obj),
                success:
                    function(d) {
                    if (d > 0) {
                            alert("编辑成功");
                        location.href = '/Institution/GetOrganMods';
                        }
                        else {
                            layer.alert("编辑失败");
                        }
                    }
            });
        });

    });
</script>

